@use "../mixins/breakpoint" as *;
.cabinet-info {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.mode{
  border: 1px solid var(--cl-m);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 64px;
    padding: 0 clamp(10px, 1.0417vw, 20px);
    border-bottom: 1px solid var(--cl-m);
    background: var(--cl-t);
  }

  &__list {
    display: flex;
    background: var(--cl-t);
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
  }

  &__value {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--cl-a);
  }

  &__item {
    padding: 0 clamp(10px, 1.0417vw, 20px);
    gap: clamp(200px, 13.4375vw, 258px);
    display: grid;
    grid-template-columns: 230px 1fr;
    align-items: center;

    &.head {
      border-bottom: 1px solid var(--cl-m);
      width: 100%;
      height: 60px;
    }

    @include laptop{
        gap: 50px;
        grid-template-columns: minmax(200px, .8fr) 1fr;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    background: var(--cl-t);
    gap: 20px;
    border-bottom: 1px solid var(--cl-m);
    height: 60px;
    padding: 0 clamp(10px, 1.0417vw, 20px);
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(18px, 1.0417vw, 20px);
    text-align: start;
    color: var(--cl-a);
  }
}
