@use "../../mixins/breakpoint" as *;

.cabinet-section {
  padding-bottom: var(--default-gap);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 2.9412vw, 40px);

    .terms-card {
      @include small-tablet {
        margin-bottom: 28px;
      }
    }
  }

  &__box {
    display: grid;
    grid-template-columns: clamp(240px, 16.1458vw, 310px) calc(100% - clamp(240px, 16.1458vw, 310px) -  clamp(20px, 2.6042vw, 50px));
    gap: clamp(20px, 2.6042vw, 50px);

    padding-bottom: clamp(34px, 2.8676vw, 39px);
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .editor {
      gap: 16px;

      .terms-table {
        margin-top: clamp(14px, 1.1765vw, 16px);
      }
    }

    @include small-tablet {
      gap: 26px;
    }
  }

  .aside {
    height: fit-content;
    transition: all 0.4s ease;
    height: calc(
      100dvh - (var(--header-height) + 15px + clamp(34px, 2.8676vw, 39px))
    );
    position: sticky;
    z-index: 10;
    top: 20px;
  }

  @include for-tablet {
    position: relative;
    z-index: 1;
  }

  @include tablet {
    padding-top: 25px;
  }
}
