<div class="overlay fixed-block" data-overlay>
    <form class="modal" data-popup="order">
        <div class="modal__top">
            <span class="modal__title">Название: Mercedes-Benz S-Class 2024 </span>

            <div class="modal__btns">
                <button type="submit" class="grey-btn">Сохранить</button>
                <button class="grey-btn close">Назад</button>
            </div>
        </div>

        <div class="modal__box">
            <div class="modal__form">
                <label class="modal__label">
                    <span>Тип события: </span>
                    <input type="text" name="type" id="type">
                </label>
                <label class="modal__label">
                    <span>Дата события:</span>
                    <input type="text" name="date" id="date" data-calendar="full" value="05.04.2025 до 08.04.2025">
                </label>
                <label class="modal__label">
                    <span>Пробег:</span>
                    <input type="text" name="value" id="value">
                </label>
                <label class="modal__label">
                    <span>Cтоимость:</span>
                    <input type="text" name="currency" id="currency">
                </label>
                <label class="modal__label">
                    <span>Ответственный:</span>
                    <input type="text" name="name" id="name">
                </label>
                <label class="modal__label">
                    <span>Описание / комментарий</span>
                    <textarea name="mess" id="mess"></textarea>
                </label>
                <button class="grey-btn" data-btn-gallery>Прикрепить фото или документ</button>

                <div class="modal__images" data-gallery-box>
                </div>
            </div>

        </div>
    </form>

    <form class="modal mode" data-popup="settings">
        <div class="modal__top">
            <span class="modal__title">Название:</span>

            <div class="modal__btns">
                <button type="submit" class="grey-btn">Сохранить</button>
                <button class="grey-btn close">Назад</button>
            </div>
        </div>

        <div class="modal__box mode">
            <div class="modal__form">
                <label class="modal__label">
                    <span>Марка: </span>
                    <input type="text" name="auto" id="auto">
                </label>
                <label class="modal__label">
                    <span>Модель: </span>
                    <input type="text" name="model" id="model">
                </label>
                <label class="modal__label">
                    <span>Номер: </span>
                    <input type="text" name="number" id="number">
                </label>
                <label class="modal__label">
                    <span>VIN: </span>
                    <input type="text" name="vin" id="vin">
                </label>
                <label class="modal__label">
                    <span>Год: </span>
                    <input type="text" name="year" id="year">
                </label>
                <label class="modal__label">
                    <span>Цвет: </span>
                    <input type="text" name="color" id="color">
                </label>
                <div class="custom-select cabinet">
                    <div class="select-field">
                        <div class="selected-options">
                            <span class="placeholder">Сегмент</span>
                        </div>
                        <div class="arrow-down">
                            <svg width='6' height='3'>
                                <use href='img/sprite/sprite.svg#angle'></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="options-container">
                        <li class="option" data-value="Бензин">
                            <span class="option-text">Бензин</span>
                        </li>
                        <li class="option" data-value="Дизель">
                            <span class="option-text">Дизель</span>
                        </li>
                        <li class="option" data-value="Бензин2">
                            <span class="option-text">Бензин2</span>
                        </li>
                        <li class="option" data-value="Дизель2">
                            <span class="option-text">Дизель2</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </form>
</div>