@font-face {
	font-family: "iconmoon";
	src: url('../fonts/iconmoon.eot');
	src: url('../fonts/iconmoon.eot?#iefix') format('eot'),
		url('../fonts/iconmoon.woff') format('woff'),
		url('../fonts/iconmoon.ttf') format('truetype'),
		url('../fonts/iconmoon.svg#iconmoon') format('svg');
}

.icon:before {
	font-family: "iconmoon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-clip:before {
	content: "\E001";
}

.icon-delivery-man-svgrepo-com:before {
	content: "\E002";
}

.icon-logout:before {
	content: "\E003";
}

.icon-mail:before {
	content: "\E004";
}

.icon-truck-loading-svgrepo-com:before {
	content: "\E005";
}
