<div class="overlay fixed-block" data-overlay>
    <div class="modal" data-popup="order">
        <button class="close modal__close">
            <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#close'></use>
            </svg>
        </button>

        <div class="editor">
            <h2>Оставить заявку</h2>
            <p>Нажимая кнопку «Оставить заявку», вы принимаете<br> условия обработки персональных данных</p>

            <form class="modal-form">
                <label class="custom-checkbox">
                    <input type="checkbox" class="custom-checkbox__field">
                    <span class="custom-checkbox__content">Я ознакомился с условиями обработки персональных даных</span>
                </label>
                <button class="main-button" type="submit">Оставить заявку</button>
            </form>
        </div>
    </div>

    <div class="modal" data-popup="offer">
        <button class="close modal__close">
            <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#close'></use>
            </svg>
        </button>

        <div class="editor">
            <h2>Получить предложение</h2>

            <form class="modal-form">
                <label class="modal-form__label">
                    <input type="text" name="name_offer" id="name_offer" placeholder="Имя" class="modal-form__input">
                </label>
                <label class="modal-form__label">
                    <input type="tel" name="phone_offer" id="phone_offer" placeholder="Телефон"
                        class="modal-form__input">
                </label>
                <label class="modal-form__label">
                    <input type="tel" name="mail_offer" id="main_offer" placeholder="E-mail" class="modal-form__input">
                </label>

                <p>Нажимая кнопку «Оставить заявку», вы принимаете условия обработки персональных данных</p>
                <label class="custom-checkbox">
                    <input type="checkbox" class="custom-checkbox__field">
                    <span class="custom-checkbox__content">Я ознакомился с условиями обработки персональных
                        даных</span>
                </label>
                <button class="main-button" type="submit">Оставить заявку</button>
            </form>
        </div>



    </div>

    <div class="rent-modal modal" data-popup="rent">
        <button class="close modal__close">
            <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#close'></use>
            </svg>
        </button>

        <div class="modal__box">
            <span class="modal-step__title">ЗАПРОС БРОНИРОВАНИЯ </span>
            <form class="modal__content">
                <div class="order-form">
                            <div class="custom-select order">
                                <span class="select-icon">
                                    <svg width='25' height='25'>
                                        <use href='img/sprite/sprite.svg#geo'></use>
                                    </svg>
                                </span>
                                <div class="select-field">
                                    <div class="selected-options">

                                    </div>
                                    <div class="arrow-down">
                                        <svg width='6' height='3'>
                                            <use href='img/sprite/sprite.svg#arrow-d'></use>
                                        </svg>
                                    </div>
                                </div>
                                <ul class="options-container">
                                    <li class="option active" data-value="Киев, Аэропорт “Борисполь”, терминал 3б">
                                        <span class="option-text">Киев, Аэропорт “Борисполь”, терминал 3б</span>
                                    </li>
                                    <li class="option" data-value="Киев, Аэропорт “Жуляны”, терминал 2а">
                                        <span class="option-text">Киев, Аэропорт “Жуляны”, терминал 2а</span>
                                    </li>
                                    <li class="option" data-value="Львов, Аэропорт “Центральный”, терминал 1">
                                        <span class="option-text">Львов, Аэропорт “Центральный”, терминал 1</span>
                                    </li>
                                </ul>

                            </div>

                            <div class="custom-select order">
                                <span class="select-icon">
                                    <svg width='25' height='25'>
                                        <use href='img/sprite/sprite.svg#geo'></use>
                                    </svg>
                                </span>
                                <div class="select-field">
                                    <div class="selected-options">

                                    </div>
                                    <div class="arrow-down">
                                        <svg width='6' height='3'>
                                            <use href='img/sprite/sprite.svg#arrow-d'></use>
                                        </svg>
                                    </div>
                                </div>
                                <ul class="options-container">
                                    <li class="option active" data-value="Киев, Аэропорт “Борисполь”, терминал 3б">
                                        <span class="option-text">Киев, Аэропорт “Борисполь”, терминал 3б</span>
                                    </li>
                                    <li class="option" data-value="Киев, Аэропорт “Жуляны”, терминал 2а">
                                        <span class="option-text">Киев, Аэропорт “Жуляны”, терминал 2а</span>
                                    </li>
                                    <li class="option" data-value="Львов, Аэропорт “Центральный”, терминал 1">
                                        <span class="option-text">Львов, Аэропорт “Центральный”, терминал 1</span>
                                    </li>
                                </ul>

                            </div>
                            <label class="order-form__label">
                                <span class="order-form__icon">
                                    <svg width='21' height='21'>
                                        <use href='img/sprite/sprite.svg#car'></use>
                                    </svg>
                                </span>
                                <input type="text" name="date" id="date" data-calendar="short"
                                    value="26 апр. 10:00 - 26 апр. 10:00">

                                <div class="arrow-down">
                                    <svg width='6' height='3'>
                                        <use href='img/sprite/sprite.svg#arrow-d'></use>
                                    </svg>
                                </div>
                            </label>


                            <button class="main-button" type="submit">НАЙТИ</button>
                </div>

                <div class="modal__steps">
                    <div class="modal__step" data-step="1">
                        <div class="modal-step">
                            <div class="modal-step__top">
                                <span class="modal-step__title">ЗАПРОС БРОНИРОВАНИЯ </span>
                                <span class="modal-step__info">Шаг 1/<b>1</b></span>
                            </div>

                            <div class="main-form">
                                <div class="main-form__wrapp mode">
                                    <span class="main-form__text">Личные данные</span>

                                    <label class="main-form__label">
                                        <input type="text" name="first_name" id="first_name" placeholder="Имя"
                                            class="main-form__input" required>
                                        <i></i>
                                    </label>
                                    <label class="main-form__label">
                                        <input type="text" name="last_name" id="last_name" placeholder="Фамилия"
                                            class="main-form__input" required>
                                        <i></i>
                                    </label>
                                    <label class="main-form__label tel">
                                        <input name="step_phone" id="step_phone" placeholder="Телефон"
                                            class="main-form__input" required type="tel">
                                        <i></i>
                                    </label>
                                    <label class="main-form__label">
                                        <input type="email" name="step_mail" id="step_mail" placeholder="E-mail"
                                            class="main-form__input" required>
                                        <i></i>
                                    </label>
                                </div>

                                <div class="main-form__wrapp">
                                    <span class="main-form__text">Личные данные</span>
                                    <label class="main-form__label calendar">
                                        <input type="text" name="step_date" id="step_date" data-calendar="short"
                                            placeholder="Дата и время подачи и возврата">

                                        <div class="arrow-down">
                                            <svg width='6' height='3'>
                                                <use href='img/sprite/sprite.svg#arrow-d'></use>
                                            </svg>
                                        </div>
                                    </label>
                                    <div class="custom-select rent">
                                        <div class="select-field">
                                            <div class="selected-options">
                                                <span class="placeholder">Место подачи</span>
                                            </div>
                                            <div class="arrow-down">
                                                <svg width='6' height='3'>
                                                    <use href='img/sprite/sprite.svg#arrow-d'></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <ul class="options-container">
                                            <li class="option active"
                                                data-value="Киев, Аэропорт “Борисполь”, терминал 3б">
                                                <span class="option-text">Киев, Аэропорт “Борисполь”, терминал 3б</span>
                                            </li>
                                            <li class="option" data-value="Киев, Аэропорт “Жуляны”, терминал 2а">
                                                <span class="option-text">Киев, Аэропорт “Жуляны”, терминал 2а</span>
                                            </li>
                                            <li class="option" data-value="Львов, Аэропорт “Центральный”, терминал 1">
                                                <span class="option-text">Львов, Аэропорт “Центральный”, терминал
                                                    1</span>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="custom-select rent">
                                        <div class="select-field">
                                            <div class="selected-options">
                                                <span class="placeholder">Место возврата</span>
                                            </div>
                                            <div class="arrow-down">
                                                <svg width='6' height='3'>
                                                    <use href='img/sprite/sprite.svg#arrow-d'></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <ul class="options-container">
                                            <li class="option active"
                                                data-value="Киев, Аэропорт “Борисполь”, терминал 3б">
                                                <span class="option-text">Киев, Аэропорт “Борисполь”, терминал 3б</span>
                                            </li>
                                            <li class="option" data-value="Киев, Аэропорт “Жуляны”, терминал 2а">
                                                <span class="option-text">Киев, Аэропорт “Жуляны”, терминал 2а</span>
                                            </li>
                                            <li class="option" data-value="Львов, Аэропорт “Центральный”, терминал 1">
                                                <span class="option-text">Львов, Аэропорт “Центральный”, терминал
                                                    1</span>
                                            </li>
                                        </ul>

                                    </div>
                                    <label class="main-form__label number">
                                        <input type="number" name="number" id="number" placeholder="Номер авиарейса"
                                            class="main-form__input">
                                        <span>Необязательно</span>
                                    </label>
                                    <button class="main-button main-button--black" data-next-step>ДАЛЕЕ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal__step" data-step="2">
                        <div class="modal-step">
                            <div class="modal-step__top">
                                <span class="modal-step__title">ЗАПРОС БРОНИРОВАНИЯ </span>
                                <span class="modal-step__info">Шаг 2/<b>2</b></span>
                            </div>

                            <div class="main-form">
                                   <div class="main-form__wrapp fields inchurance mob">
                                               <span class="main-form__text">Страховка
                                        </span>
                                        
                                        <label class="custom-checkbox inchurance">
                                            <input type="checkbox" checked class="custom-checkbox__field">
                                            <span class="custom-checkbox__content">С залогом

                                                <span>
                                                Цена
                                                <i>включено в стоимость</i>
                                            </span>
                                            </span>

                                            
                                        </label>
                                         <label class="custom-checkbox inchurance">
                                            <input type="checkbox" class="custom-checkbox__field">
                                            <span class="custom-checkbox__content">Покрытие 50%

                                                <span>
                                                Цена
                                                <i><b>54 USD</b> / сутки</i>
                                            </span>
                                            </span>

                                            
                                        </label>
                                         <label class="custom-checkbox inchurance">
                                            <input type="checkbox" class="custom-checkbox__field">
                                            <span class="custom-checkbox__content">Покрытие 100%

                                                <span>
                                                Цена
                                                <i><b>78 USD</b> / сутки</i>
                                            </span>
                                            </span>
                                        </label>
                                    </div>


                                    <div class="main-form__wrapp check">
                                        <span class="main-form__text">Страховка
                                            <button class="main-form__btn">i</button>
                                        </span>

                                        <label class="radio-checkbox mode">
                                            <input type="radio" name="insurance" checked value="step_Залог"
                                                class="radio-checkbox__field">
                                            <span class="radio-checkbox__content">
                                                С залогом
                                            </span>
                                        </label>
                                        <label class="radio-checkbox mode">
                                            <input type="radio" name="insurance" value="step_Покрытие_50%"
                                                class="radio-checkbox__field">
                                            <span class="radio-checkbox__content">
                                                Покрытие 50%
                                            </span>
                                        </label>
                                        <label class="radio-checkbox mode">
                                            <input type="radio" name="insurance" value="step_Покрытие_100%"
                                                class="radio-checkbox__field">
                                            <span class="radio-checkbox__content">
                                                Покрытие 100%
                                            </span>
                                        </label>
                                    </div>

                                  

                                    <div class="main-form__wrapp fields mob">
                                        <span class="main-form__text">Дополнения</span>
                                        
                                        <label class="custom-checkbox offer">
                                            <input type="checkbox" checked class="custom-checkbox__field">
                                            <span class="custom-checkbox__content">Дополнителный водитель
                                                <b>6 USD / сутки</b>
                                            </span>
                                        </label>
                                         <label class="custom-checkbox offer">
                                            <input type="checkbox" class="custom-checkbox__field">
                                            <span class="custom-checkbox__content">
                                                <span>Детское автокресло <i>i</i></span>
                                                <b>3 USD / сутки</b>
                                            </span>
                                        </label>
                                         <label class="custom-checkbox offer">
                                            <input type="checkbox" class="custom-checkbox__field">
                                            <span class="custom-checkbox__content">
                                                <span>Выезд за границу <i>i</i></span>
                                                <b>150 USD</b>
                                            </span>
                                        </label>
                                         <label class="custom-checkbox offer">
                                            <input type="checkbox" class="custom-checkbox__field">
                                            <span class="custom-checkbox__content">

                                            <span>Услуги водителя <i>i</i></span>
                                            <b>80 USD / Рабочий день</b>
                                            </span>
                                        </label>
                                    </div>

                                    <div class="main-form__wrapp fields">
                                        <span class="main-form__text">Коментарий</span>

                                        <label class="main-form__label">
                                            <input type="text" name="step_mess" id="step_mess"
                                                placeholder="Сообщение для менеджера" class="main-form__input">
                                        </label>
                                    </div>

                                    <label class="custom-checkbox">
                                        <input type="checkbox" class="custom-checkbox__field">
                                        <span class="custom-checkbox__content">Я ознакомился с условиями обработки
                                            персональных
                                            даных</span>
                                    </label>

                                    <button class="main-button main-button--black">ОСТАВИТЬ ЗАЯВКУ</button>
                                
                            </div>
                        </div>

                    </div>
                </div>

               
            </form>

            <div class="modal__right">
                <div class="modal__image">
                    <picture>
                        <source type='image/webp' srcset='img/car/car5.webp'>
                        <img width='570' height='319' src='img/car/car5.png' alt='image'>
                    </picture>
                </div>

                <h2 class="modal__title">Аренда Mercedes-Benz G63 Black 2025 в Киеве</h2>

                <ul class="modal__list">
                    <li class="modal__item mode">
                        <div class="modal__item-info">
                            <span class="modal__name">Запрос подачи</span>
                            <span class="modal__info">
                                <b>19.04.2025 (13:30)</b>
                                Киев, Аэропорт "Борисполь", терминал "D"
                            </span>
                        </div>
                        <div class="modal__item-info">
                            <span class="modal__name">Запрос возврата</span>
                            <span class="modal__info">
                                <b>19.04.2025 (13:30)</b>
                                Киев, Аэропорт "Борисполь", терминал "D"
                            </span>
                        </div>
                    </li>

                    <li class="modal__item mode">
                        <div class="modal__item-wrapp">
                            <span class="modal__name">Продолжительность аренды</span>
                            <span class="modal__value">3 Days</span>
                        </div>
                        <div class="modal__item-wrapp">
                            <span class="modal__name">Стоимость аренды</span>
                            <span class="modal__value">429 USD/day</span>
                        </div>
                    </li>
                    <li class="modal__item">
                        <span class="modal__name">Залог</span>
                        <span class="modal__value"><b>2000 USD</b></span>
                    </li>
                    <li class="modal__item">
                        <span class="modal__name">Общая стоимость</span>
                        <span class="modal__value big">2035 USD</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>