@use '../mixins/breakpoint' as *;
@use '../mixins/disable-mob-hover' as *;

.mobile {
    &__box {
        @include for-tablet {
            display: contents;
        }

        @include tablet {
            overflow-y: auto;
            display: flex;
            width: 100%;
            // height: 100%;
            padding: 20px 20px 10px;
            align-items: flex-start;
            flex-direction: column;
            gap: 30px;
            max-height: calc(100dvh - var(--header-height));
        }
    }
    @include for-tablet {
        grid-column: 1/2;
        grid-row: 1;
    }
    @include tablet {
        position: fixed;
        top: var(--header-height);
        height: fit-content;
        left: 0;
        width: 100%;
        background: var(--body-bg);
        z-index: 60;
        overflow: hidden;
        transition: transform 0.5s ease;
        transform: translateY(-130%);
        flex-shrink: 0;
        border-radius: 0 0 25px 25px;

        .main-button {
            flex-shrink: 0;
        }

        .main-nav {
            padding: 0 35px 86px;

            &__acc {
                &-btn {
                    font-size: 16px;
                }
                &-item {
                    flex-direction: column;
                }
            }

            ul {
                gap: 18px;

                li {
                    display: flex;
                    a {
                        font-size: 16px;

                        &::after {
                            width: 7px;
                            height: 7px;
                            background-color: var(--col-r);
                            left: -13px;
                            top: 4.5px;
                        }
                    }

                    .main-nav__acc-content {
                        a {
                            &::after {
                                width: 5px;
                                height: 5px;
                                top: 5.5px;
                                left: 3px;
                            }
                        }
                    }
                }
            }

            @media (max-height: 680px) {
                padding-bottom: 32px;
            }
        }

        .tel-link {
            display: flex;
            align-items: center;
            gap: 8px;
            font-family: var(--third-family);
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            color: var(--cl-a);
            transition: all 0.3s;
            margin-right: auto;

            @include hover {
                color: var(--cl-l);
            }
        }

        .header {
            &__choice {
                width: 100%;
                justify-content: space-between;
                gap: 8px;

                .choice {
                    width: calc(50% - 4px);
                    justify-content: center;
                    height: 30px;
                    padding: 0;
                    border-radius: 20px;
                    justify-content: center;
                    background: var(--cl-b);
                    width: 100%;
                    border: 0.5px solid transparent;
                    border-bottom: none;

                    .select-field {
                        width: 100%;
                        justify-content: center;
                    }

                    &.active {
                        border-radius: 20px 20px 0 0;
                        border-color: var(--cl-m);
                    }

                    .options-container {
                        left: -0.5px;
                        width: calc(100% + 1px);

                        .option-text {
                            text-align: center;
                            justify-content: center;
                        }
                    }

                    &.lang {
                        .select-text {
                            width: 53%;
                            text-align: end;
                        }
                        .select-field {
                            width: 47%;
                            justify-content: flex-start;
                        }

                        .options-container {
                            left: -0.5px;
                            width: calc(100% + 1px);
                            right: initial;
                        }
                    }
                }
            }

            &__link {
                svg,
                img {
                    width: 32px;
                    height: 32px;
                }
            }

            &__links {
                background: var(--cl-b);
                border-radius: 20px;
                width: 100%;
                gap: 20px;
                padding: 11.5px 20px;
            }
        }

        .custom-select {
            min-width: 90px;

            .select-text {
                color: var(--cl-a);
            }
            .select-field {
                * {
                    color: var(--cl-a) !important;
                }
            }
            .arrow-down {
                color: var(--cl-a);
            }
        }

        &.active {
            transition: transform 0.3s ease;
        }
    }

    .main-button {
        @include for-tablet {
            display: none;
        }
    }

    .main-nav {
        @include for-tablet {
            display: none;
        }
    }

    .tel-link {
        @include for-tablet {
            display: none;
        }
    }

    &.active {
        display: flex;
        transform: translateX(0);
    }
}
