<footer class="footer mode">
    <div class="container">
        <div class="footer__box">
            <div class="footer__top">
                <div class="footer__col">
                    <!-- <div class="footer__col" data-aos="fade-right" data-aos-duration="700" data-aos-delay="0"> -->
                    <a href="/en/" class="logo">REIZ</a>
                    <span class="footer__name">CAR RENTAL IN UKRAINE</span>
                    <p>
                        A reliable car rental service across Ukraine. We offer car hire in Kyiv,
                        Lviv, and other cities with 24/7 support and transparent terms.
                    </p>

                    <!-- <nav class="footer-nav" data-aos="fade-up" data-aos-duration="400" data-aos-delay="500"> -->
                    <nav class="footer-nav">
                        <ul class="footer-nav__list">
                            <li class="footer-nav__item">
                                <a href="/en/">HOME</a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="/en/#catalog">CARS</a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="/en/business.html">FOR BUSINESS</a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="/en/invest.html">LIST YOUR CAR</a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="/en/blog.html">BLOG</a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="/en/about.html">ABOUT US</a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="/en/contacts.html">CONTACTS</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- <div class="footer__wrapp" data-aos="fade-left" data-aos-duration="400" data-aos-delay="300"> -->
                <div class="footer__wrapp">
                    <div class="footer__info" data-title="Office phone">
                        <div class="footer__social">
                            <a href="tel:+380635471186"> +380 63 547 11 86 </a>
                            <a href="#">
                                <span class="default">
                                    <img
                                        width="26"
                                        height="26"
                                        src="/img/sprite/WATHSAP.svg"
                                        alt="icon"
                                    />
                                </span>
                                <span class="hover">
                                    <img
                                        width="26"
                                        height="26"
                                        src="/img/sprite/WATHSAP_hover.svg"
                                        alt="icon"
                                    />
                                </span>
                            </a>

                            <a href="#">
                                <span class="default">
                                    <img
                                        width="26"
                                        height="26"
                                        src="/img/sprite/Telegram_logo.svg"
                                        alt="icon"
                                    />
                                </span>
                                <span class="hover">
                                    <img
                                        width="26"
                                        height="26"
                                        src="/img/sprite/tg_hover.svg"
                                        alt="icon"
                                    />
                                </span>
                            </a>
                        </div>
                        <p>Open 09:00–21:00,<br />seven days a week</p>
                    </div>

                    <a href="#" class="footer__adress" data-title="Office address">
                        <span>DANYLO HALYTSKYI INTERNATIONAL AIRPORT LVIV</span>
                    </a>

                    <span class="footer__rate">
                        <img width="163" height="59" src="/img/rate-rental.png" alt="image" />
                    </span>
                </div>
            </div>

            <!--        <div class="footer__middle" data-aos="fade-up" data-aos-duration="400" data-aos-delay="600"> -->
            <div class="footer__middle">
                <ul class="footer__list" data-title="We accept">
                    <li class="footer__item">
                        <a href="#" class="footer__link ms">
                            <i class="sprite">
                                <svg width="42" height="26">
                                    <use href="/img/sprite/sprite.svg#ms"></use>
                                </svg>
                            </i>
                            <span>MASTERCARD</span>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link visa">
                            <i class="sprite">
                                <svg width="60" height="19">
                                    <use href="/img/sprite/sprite.svg#visa"></use>
                                </svg>
                            </i>
                            <span>VISA</span>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link pay">
                            <i class="sprite">
                                <svg width="70" height="22">
                                    <use href="/img/sprite/sprite.svg#pay"></use>
                                </svg>
                            </i>
                            <span>UNIONPAY</span>
                        </a>
                    </li>
                </ul>
                <ul class="footer__list mode" data-title="Follow us">
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="sprite">
                                <svg width="28" height="28">
                                    <use href="/img/sprite/sprite.svg#fb"></use>
                                </svg>
                            </i>
                            <span>FACEBOOK</span>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link pink">
                            <i class="sprite">
                                <svg width="28" height="28">
                                    <use href="/img/sprite/sprite.svg#inst"></use>
                                </svg>
                            </i>
                            <span>INSTAGRAM</span>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link red">
                            <i class="sprite">
                                <svg width="28" height="28">
                                    <use href="/img/sprite/sprite.svg#youtube"></use>
                                </svg>
                            </i>
                            <span>YOUTUBE</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- В стилях footer__bottom раскоментить! -->
            <div class="footer__bottom">
                <span>© 2025 Reiz. All rights reserved.</span>
                <a href="#">Privacy Policy</a>
                <span>Developed by Reiz</span>
            </div>
        </div>
    </div>
</footer>

@include('./overlay.html')
