<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#111111" />
    <meta name="description" content="REIZ" />

    <title>REIZ</title>
    <script src="/js/main.js"></script>
    <link rel="preload" href="/fonts/Arial-BoldMT.woff2" as="font" type="font/woff2" crossorigin />
    <link
        rel="preload"
        href="/fonts/Arial-ItalicMT.woff2"
        as="font"
        type="font/woff2"
        crossorigin
    />
    <link rel="preload" href="/fonts/ArialMT.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/Inter-Black.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/Inter-Bold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/inter-light.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link
        rel="preload"
        href="/fonts/Inter-SemiBold.woff2"
        as="font"
        type="font/woff2"
        crossorigin
    />
    <link
        rel="preload"
        href="/fonts/SFProDisplay-Light.woff2"
        as="font"
        type="font/woff2"
        crossorigin
    />
    <link
        rel="preload"
        href="/fonts/SFProDisplay-Medium.woff2"
        as="font"
        type="font/woff2"
        crossorigin
    />
    <link
        rel="preload"
        href="/fonts/SFProDisplay-Regular.woff2"
        as="font"
        type="font/woff2"
        crossorigin
    />
    <link
        rel="preload"
        href="/fonts/SFProDisplay-Semibold.woff2"
        as="font"
        type="font/woff2"
        crossorigin
    />
    <link
        rel="preload"
        href="/fonts/SFProDisplay-Bold.woff2"
        as="font"
        type="font/woff2"
        crossorigin
    />

    <link
        rel="preload"
        href="/fonts/arial-hebrew-scholar.woff2"
        as="font"
        type="font/woff2"
        crossorigin
    />
    <link
        rel="preload"
        href="/fonts/apple-braille-pinpoint-6-dot.woff2"
        as="font"
        type="font/woff2"
        crossorigin
    />
    <link
        rel="preload"
        href="/fonts/Montserrat-SemiBold.woff2"
        as="font"
        type="font/woff2"
        crossorigin
    />
    <link
        rel="preload"
        href="/fonts/GowunDodum-Regular.woff2"
        as="font"
        type="font/woff2"
        crossorigin
    />
    <link
        rel="preload"
        href="/fonts/MonteCarlo-Regular.woff2"
        as="font"
        type="font/woff2"
        crossorigin
    />
    <link
        rel="preload"
        href="/fonts/HalvarBreit-Md.woff2"
        as="font"
        type="font/woff2"
        crossorigin
    />

    <link rel="stylesheet" href="/css/style.css" />
</head>
