@use "./disable-mob-hover" as *;
@use "./breakpoint" as *;
.radio-checkbox {
  position: relative;
  display: flex;
  align-items: center;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }

  span {
    position: relative;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(14px, 0.833vw, 16px);
    cursor: pointer;
    user-select: none;
    gap: 12px;
    color: var(--cl-d);

    .sprite {
      width: 90px;
      height: 33px;
      display: flex;
      color: var(--cl-a);
  margin-top: 8px;

      svg {
        width: 100%;
        height: auto;
      }
    }

    border: 1px solid var(--cl-mm);
    border-radius: 8px;
    height: 66px;

    gap: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--cl-n);

    @include for-tablet {
      background: #d8d9d2;
    }
  }

  input {
    &:not(:disabled) {
      &:not(:checked) + span {
        @include hover {
          background: rgba(33, 66, 48, 0.1);
        }
      }
    }

    &:checked + span {
      background: var(--cl-e);
      color: var(--cl-b);

      .sprite {
        color: var(--cl-b);
      }
    }

    &:disabled + span {
      background: var(--cl-d);
    }
  }

  &.mode {
    span {
      position: relative;
      z-index: 2;
      display: inline-flex;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      background: transparent;
      border: 1px solid #d6d6d6;
      border-radius: 8px;
      height: 38px;
      gap: 2px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    input {
      &:not(:disabled) {
        &:not(:checked) + span {
          @include hover {
            background: rgba(33, 66, 48, 0.1);
          }
        }
      }

      &:checked + span {
        background: var(--cl-e);
        color: var(--cl-b);

        .sprite {
          color: var(--cl-b);
        }
      }

      &:disabled + span {
        background: var(--cl-d);
      }
    }
  }

  &.dark {
    span {
      font-weight: 400;
      font-size: 16px;
      color: var(--cl-b);
      border-radius: 12px;
      box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.25);
      background: #8e8d8d;
      position: relative;
      z-index: 2;
      display: inline-flex;
      align-items: center;
      text-align: center;
      border: none;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        width: 31px;
        height: 31px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' fill='none'%3E%3Ccircle cx='15.5' cy='15.5' r='15.5' fill='%238E8D8D'/%3E%3Cpath stroke='%23fff' d='M15 18.969 23 11M11.353 14.646l4.148 4.133'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
        right: 10px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
      }
    }

    input {
      &:not(:disabled) {
        &:not(:checked) + span {
          @include hover {
            background: #8e8d8d;
            box-shadow: initial;
          }
        }
      }

      &:checked + span::before {
        opacity: 1;
        visibility: visible;
      }

      &:checked + span {
        background: var(--select-inner-bg);
      }

      &:disabled + span {
        opacity: 0.7;
      }
    }
  }
}

.custom-checkbox {
  position: relative;

  input {
    position: absolute;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    inset: 0;
    //height: initial;
  }

  .custom-checkbox__content {
    margin: 0 !important;
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: inline-flex;
    gap: clamp(16px, 1.4706vw, 20px);
    align-items: center;
    user-select: none;
    width: 100%;
    color: var(--cl-a);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;

    &::before {
      cursor: pointer;
      content: "";
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      background-position: center center;
      background-size: 14px;
      background-repeat: no-repeat;
      border: 1px solid #999;
      border-radius: 50%;
    }

    .gray {
      color: #7E7E7E;
    }
  }

  input {
    &:checked + span::before {
      border-color: var(--cl-e);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none'%3E%3Cpath stroke='%23214230' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1.429 6.415 2.857 4.156 6.286-9.143'/%3E%3C/svg%3E");
    }
  }

  &.offer {
    & > span {
      border: 1px solid #d6d6d6;
      border-radius: 12px;
      width: 100%;
      padding: 5px 20px 5px 13px;
      height: 50px;

      @media (hover: hover) {
        &:hover {
          border-color: var(--cl-l);
        }
      }

      @include tablet {
        @include for-small-tablet {
          gap: 10px;
        }
      }
    }
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 110%;
      color: #565656;

      b {
        font-weight: 500;
        flex-grow: 1;
        display: inline-block;
        text-align: end;
      }

      &::before {
        border: 1px solid #d6d6d6;
        border-radius: 3px;
        width: 16px;
        height: 16px;
        background-color: transparent;
      }

      span {
        width: fit-content;
        display: inline-flex;
        align-items: center;
        gap: 6px;

        i {
          flex-shrink: 0;
          font-weight: 600;
          font-size: 13px;
          text-align: center;
          color: var(--col-j);
          border: solid 1px var(--col-j);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s;
          width: 18px;
          height: 18px;
          cursor: pointer;
          border-radius: 100%;
          font-style: normal;

          &:hover {
            color: var(--cl-b);
            background: var(--col-j);
          }

          @include small-tablet {
            display: none;
          }
        }

        &::before,
        &::after {
          content: none;
        }

        @include small-tablet {
          color: #243b4f;
        }
      }

      @include tablet {
        @include for-small-tablet {
          font-size: 13px;
        }
      }
    }

    input {
      &:checked + span::before {
        border-color: var(--cl-a);
        background-color: var(--cl-a);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 12px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1.429 6.415 2.857 4.156 6.286-9.143'/%3E%3C/svg%3E");
      }
    }
  }

  &.inchurance {
    & > span {
      border: 1px solid #d6d6d6;
      border-radius: 12px;
      width: 100%;
      padding: 17px 15px 13px 15px;
      min-height: 100px;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-gap: 7px 8px;

      &:hover {
        border-color: var(--cl-l);
      }

      @include tablet {
        @include for-small-tablet {
          gap: 10px;
        }
      }
    }
    span {
      &::before {
        border: 1px solid #d6d6d6;
        border-radius: 3px;
        width: 16px;
        height: 16px;
        margin-top: 1px;
        background-color: transparent;
        grid-column: 1;
        grid-row: 1/3;
        align-self: start;

      }

      span {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 14px;
        color: #5e5e5e;
        text-align: start;
        gap: 1px;
        align-items: flex-start;

        i {
          font-weight: 500;
          font-size: 14px;
          color: #243b4f;
          font-style: normal;

          b{
          font-weight: 500;
          font-size: 16px;
          }
        }

        &::before,
        &::after {
          content: none;
        }
      }
    }

    input {
      &:checked + span::before {
        border-color: var(--cl-a);
        background-color: var(--cl-a);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 12px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1.429 6.415 2.857 4.156 6.286-9.143'/%3E%3C/svg%3E");
      }
      &:checked + span {
        border-color: var(--cl-l);
      }
    }
  }
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  gap: clamp(14px, 1.3235vw, 18px);
  font-weight: 400;
  font-size: 14px;
  color: var(--cl-b);
}

.toggle-checkbox {
  display: none;
}

.toggle-slider {
  position: relative;
  border-radius: 26px;
  width: 73px;
  height: 35px;
  background-color: #625b5b;

  transition: background-color 0.3s ease;
  cursor: pointer;
}

.toggle-slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 31px;
  height: 31px;
  background-color: #999;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark {
  position: absolute;
  top: 8px;
  right: 10.5px;
  width: 13px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='10' fill='none'%3E%3Cpath stroke='%23fff' d='M4 8.969 12 1M.353 4.646l4.148 4.133'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  transition: opacity 0.1s ease;
  opacity: 0;
}

.toggle-checkbox:checked + .toggle-slider::before {
  transform: translateX(36px);
  background-color: #8e8d8d;
}

.toggle-checkbox:checked + .toggle-slider {
  background-color: var(--cl-a);
}

.toggle-checkbox:checked + .toggle-slider .checkmark {
  opacity: 1;
  transition: opacity 0.5s ease;
}
