.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  li {
    font-weight: 400;
    font-size: 13px;
    color: var(--cl-s);

    &::before {
      content: "•";
      font-weight: 400;
      font-size: 13px;
      color: var(--cl-s);
      margin: 0 5px;
    }

    a {
      font-weight: 400;
      font-size: 13px;
      color: var(--cl-s);
      transition: all 0.3s;

      &:hover {
        color: var(--cl-a);
      }
    }

    &:first-of-type{
        &::before{
            content: none;
        }
    }
  }
}
