.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  li {
    font-weight: 400;
    font-size: 13px;
    color: var(--cl-s);

    &::before {
      content: "•";
      font-weight: 400;
      font-size: 13px;
      color: var(--cl-s);
      margin: 0 5px;
    }

    a {
      font-weight: 400;
      font-size: 13px;
      color: var(--cl-s);
      transition: all 0.3s;

      &:hover {
        color: var(--cl-a);
      }
    }

    &:first-of-type{
        &::before{
            content: none;
        }
    }
  }

  &__home-icon {
    display: none;
    vertical-align: middle;
    transition: fill 0.3s;

    path {
      fill: var(--cl-s);
    }

    @media (max-width: 767px) {
      display: inline-block;
    }
  }

  &__home-text {
    @media (max-width: 767px) {
      display: none;
    }
  }

  li:first-of-type a:hover &__home-icon path {
    fill: var(--cl-a);
  }
}
