.cabinet-table {
  display: flex;
  flex-direction: column;
  background: var(--cl-t);
  border-radius: 16px;
  flex-grow: 1;
  width: 100%;

  @media (max-width: 1680px) {
    overflow-x: auto;
  }

  &__list {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    @media (max-width: 1680px) {
      width: 1350px;
    }
  }

  &.mode {
    overflow: hidden;
    .cabinet-table {
      &__list {
        width: 100%;
      }

      &__row {
        grid-template-columns: 200px 1fr;

         .cabinet-table__title {
          &:first-of-type{
            text-align: center;
            justify-content: center;
          }
        }

        .cabinet-table__value {
          &:first-of-type{
            text-align: center;
            justify-content: center;
          }
          &:last-of-type {
            border: none;
          }
        }
      }
    }
  }

  &__row {
    display: grid;
    grid-template-columns:
      minmax(clamp(200px, 12.5vw, 240px), 0.6fr) minmax(115px, 0.2fr)
      repeat(2, 1fr) minmax(110px, 0.3fr) minmax(155px, 0.1fr) minmax(
        155px,
        0.1fr
      )
      minmax(210px, 0.3fr);
    height: 60px;
    align-items: center;
    border-bottom: 1px solid var(--cl-a);

    &.last {
      flex-grow: 1;
      border: none;
    }
  }

  &__value {
    font-weight: 400;
    font-size: 14px;
    color: var(--cl-a);
    padding: 0 clamp(10px, 0.8854vw, 17px) 0 clamp(10px, 1.0417vw, 20px);
    border-right: 1px solid var(--cl-a);
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    padding: 0 clamp(10px, 0.8854vw, 17px) 0 clamp(10px, 1.0417vw, 20px);
  }

  &__status {
    font-weight: 400;
    font-size: clamp(16px, 0.9375vw, 18px);
    color: var(--cl-a);
    padding: 0 clamp(10px, 0.8854vw, 17px) 0 clamp(10px, 1.0417vw, 20px);
    border-right: 1px solid var(--cl-a);
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__row {
    .cabinet-table__value {
      &:first-of-type {
        text-align: start;
      }
    }
    .cabinet-table__title {
      &:last-of-type {
        border: none;
      }
    }
  }

  &__title {
    font-weight: 400;
    padding: 0 clamp(10px, 0.8854vw, 17px) 0 clamp(10px, 1.0417vw, 20px);
    font-size: 14px;
    color: var(--cl-a);
    border-right: 1px solid var(--cl-a);
    height: 100%;
    display: flex;
    align-items: center;
  }
}
