@use "../mixins/breakpoint" as *;

.info-slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  border: 1px solid var(--cl-y);
  border-radius: 16px;

  &__wrapper {
    display: flex;

    @include small-tablet {
      padding: 0 var(--container-offset);
    }
  }

  .slider-controls {
    right: 0;
    bottom: 0;
    border-radius: 0 0 16px 0;
    border-color: var(--cl-y);
    height: 52px;
    width: 102px;

    button {
      border-color: var(--cl-y);

      &:not(:hover) {
        background: var(--body-bg);
      }
    }

    @include small-tablet {
      display: none;
    }
  }

  &__slide {
    display: flex!important;
    border-right: 1px solid var(--cl-y);
    height: 256px!important;
    flex-direction: column;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 156%;
      color: var(--cl-a);

      @include small-tablet {
        max-width: 70%;
      }
    }

    @include small-tablet {
      border: 1px solid var(--cl-m);
      border-radius: 12px;
      height: 200px;
      width: 360px;
    }
  }

  &__pagination {
    flex-shrink: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 208%;
    color: var(--cl-a);
    height: 52px;
    padding: 10px 22px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--cl-y);

    @include small-tablet {
      display: none;
    }
  }

  &__content {
    gap: 36px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: auto;
    padding: 17px 10px 5px 16px;

    @include small-tablet {
      gap: 20px;
      padding: 16px 17px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 156%;
    color: var(--cl-a);
    gap: 11px;
    display: flex;
    align-items: center;

    .sprite {
      display: flex;
      width: 27px;
      height: 27px;

      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  @include small-tablet {
    border-radius: 0;
    border: none;
    width: calc(100% + (var(--container-offset) * 2));
    margin-left: calc(var(--container-offset) * -1);
    overflow: initial;
  }
}
