@use "../mixins/breakpoint" as *;

.info-table {
    display: flex;
    width: 100%;

    @include laptop{
        overflow-x: auto;
    }

  &__list {
    display: flex;
    flex-direction: column;

    @include laptop{
        width: 1000px;
    }
}

  &__row {
    border-bottom: 1px solid var(--cl-m);
    width: 100%;
    height: 60px;
    padding: 0 clamp(10px, 1.0417vw, 20px);
       display: grid;
       gap: clamp(10px, 1.25vw, 24px);
       align-items: center;
    grid-template-columns: 90px minmax(100px, 0.3fr)
      repeat(2, minmax(110px, .3fr)) 1fr 120px minmax(108px, 0.5fr);

    &.head {
      background: var(--cl-t);
    }

     @include laptop{
        width: 1000px;
    }

    &:last-of-type{
      border: none;
    }
  }

  .main-button,.grey-btn{
    justify-self: end;
  }

  &__value {
    font-weight: 400;
    font-size: 14px;
    color: var(--cl-a);
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    background: linear-gradient(90deg, #000 0%, rgba(102, 102, 102, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--cl-a);
  }
}
