.main-info {
  display: flex;
  flex-direction: column;
  &__top {
    background: var(--cl-t);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 410px;
    gap: 10px;
    width: fit-content;
    border-radius: 16px 16px 0 0;
    height: 51px;
    margin-bottom: -20px;
    position: relative;
    z-index: 2;
    padding: 0 15px 0 clamp(10px, 1.0417vw, 20px);
  }

  textarea {
    min-height: 200px;
    background: var(--cl-b);
    font-weight: 400;
    font-size: 14px;
    color: var(--cl-a);
    width: 100%;
    padding: 16px;
  }

  label:not([class]) {
    width: 100%;
  }

  &__label {
    background: var(--cl-b);
    height: clamp(34px, 2.0833vw, 40px);
    display: inline-flex;
    width: fit-content;
    gap: 4px;
    align-items: center;
    padding: clamp(7px, 0.5729vw, 11px) calc(clamp(10px, 1.0417vw, 20px) - 5px)
      clamp(8px, 0.625vw, 12px) clamp(10px, 1.0417vw, 20px);

    span {
      font-weight: 400;
      font-size: 14px;
      color: var(--cl-a);
    }

    input {
      width: 10px;
      display: inline-flex;
      font-weight: 400;
      font-size: 14px;
      color: var(--cl-a);

      &::placeholder {
        font-weight: 400;
        font-size: 14px;
        color: var(--cl-a);
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 0 16px 16px 16px;
    background: var(--cl-t);
    padding: 20px clamp(10px, 1.0417vw, 20px);
  }

  &__content {
    display: flex;
    gap: clamp(16px, 1.0417vw, 20px);
    border-radius: 0 16px 16px 16px;
    background: var(--cl-t);
    padding: 20px clamp(10px, 1.0417vw, 20px);
    height: 100%;
  }

  &__wrapp {
    display: flex;
    width: calc(
      100% - clamp(16px, 1.0417vw, 20px) - clamp(100px, 5.6771vw, 109px)
    );
  }

  &__list {
    display: flex;
    gap: clamp(16px, 1.0417vw, 20px);
    width: 100%;
    overflow-x: auto;

    &.mob {
      .main-info__item {
        width: 200px;
        aspect-ratio: 1;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cl-b);

    flex-shrink: 0;
    width: 310px;
    aspect-ratio: 16/9;

    img,
    picture,
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(100px, 5.6771vw, 109px);
    transition: all 0.3s;
    height: 100%;
    background: #757575;
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    color: var(--cl-b);

    &:hover {
      background: var(--cl-e);
    }
  }

  &__box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: clamp(10px, 1.0417vw, 20px);
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    color: var(--cl-a);
  }

  &__edit {
    display: flex;
    width: 24px;
    height: 24px;

    .sprite {
      width: 24px;
      height: 24px;

      svg {
        width: 100%;
        height: auto;
        transition: all 0.3s;
      }
    }

    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
  }

  &.single {
    .main-info__content {
      width: fit-content;
    }
  }
}
