@use "../mixins/breakpoint" as *;

.order-form {
  background: var(--body-bg);
  padding: 15px 10px 10px;
  border-radius: 20px;
  gap: 5px;

  .main-button {
    margin-top: 0px;
    width: 100%;
    height: 50px;
    border-radius: 20px;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 40px;
    input {
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      text-align: start;
    }

    .arrow-down {
      width: 12px;
      height: 8px;
      display: flex;
      margin-right: 5px;
      transition: all .3s;

      svg{
        width: 100%;
        height: 100%;
      }

      &.active{
        transform: scaleY(-1);
      }
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    display: flex;
  }

  .custom-select.order {
    // Ensure dropdown overlays properly
    z-index: 10;

    &.open {
      z-index: 100; // Above other form elements
    }
  }
}
