@use '../mixins/breakpoint' as *;

.rent-list {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__item {
        &:first-of-type {
            grid-row: 1/3;

            @include small-tablet {
                grid-row: 3/4;
            }
        }
    }

    @include small-tablet {
        grid-template-columns: 100%;
    }

    @include mobile {
        .rent-card {
            border-radius: 20px;

            .main-button {
                border-color: var(--col-p);
                border-radius: 20px;
                height: 50px;
                font-size: 14px;
                padding: 10px 17px;
                margin-right: -5px;
                margin-bottom: -5px;
            }
        }
    }
}
