@use "../mixins/breakpoint" as *;
@use "../mixins/disable-mob-hover" as *;

.single-form {
  padding: 20px;
  height: fit-content;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--cl-b);

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__quest {
    font-weight: 500;
    font-size: 14px;
    text-align: end;
    color: var(--cl-a);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    b,
    .text-strong {
      font-weight: 500;
      font-size: 14px;
      text-align: start;
      color: var(--col-a);

      @include tablet {
        color: #6c757d;
      }
    }

    @include tablet {
    }
  }

  &__pretitle {
    font-weight: 590;
    font-size: 16px;

    @include tablet {
      margin-bottom: -20px;
      height: 70px;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 16px;
    }
  }

  &__wrapp {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      width: calc(100% + 40px);
      left: -20px;
      bottom: 0;
      height: 1px;
      position: absolute;
      z-index: -1;
      pointer-events: none;
      background: var(--cl-k);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    .radio-checkbox.mode span {
      font-weight: 400;
    }

    @media (max-width: 425px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .radio-checkbox {
      @media (max-width: 425px) {
        &:last-of-type {
          grid-column: 1/-1;
        }
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .single-form {
      &__value {
        text-align: start;
        font-weight: 500;
        font-size: 14px;
        color: var(--col-a);

        &.mode {
          text-align: end;
          font-weight: 500;
          font-size: 14px;
          color: var(--cl-a);
        }

        @include tablet {
          color: var(--col-b);
        }
      }
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 10px;
    align-items: center;
    padding: 14px 0;
    position: relative;
    z-index: 1;
    margin-top: -20px;

    &::before {
      content: "";
      width: calc(100% + 40px);
      left: -20px;
      bottom: 0;
      height: 1px;
      position: absolute;
      z-index: -1;
      pointer-events: none;
      background: var(--cl-k);
    }

  }

  &__btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .main-button {
      border-radius: 12px;
      width: 100%;
      min-width: initial;
      height: 50px;;
      font-weight: 400;
      font-size: 14px;

      @include mobile {;
        font-weight: 400;
        font-size: 12px;
      }
    }
  }

  &__name {;
    font-weight: 500;
    font-size: 14px;
    color: var(--col-a);
    text-align: start;
    display: flex;
    gap: 7px;
    align-items: center;

  }

  &__label {
    position: relative;

    &:not(label) {
      width: 19px !important;
      height: 19px;;
      font-weight: 600;
      font-size: 12px;
      text-align: center;
      color: var(--col-a);
      border: solid 1px var(--col-a);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
      border-radius: 100%;

      @include hover {
        background: var(--col-a);
        color: var(--cl-b);
      }
    }

    .selectedDays {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid #D6D6D6;
      padding: 6px 20px;
      font-size: 16px;
      right: 16px;
      border-radius: 12px;
    }
  }

  &__value {;
    font-weight: 500;
    font-size: 14px;
    text-align: end;
    color: var(--cl-a);

    &--nowrap {
      white-space: nowrap;
    }

    b,
    .text-strong {
      font-weight: 700;
      font-size: 16px;

      @include tablet {
        font-size: 20px;
      }
    }
  }

  &__row {
    position: relative;
    z-index: 1;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;

    &::after {
      content: "";
      width: calc(100% + 40px);
      left: -20px;
      top: 0;
      height: 1px;
      position: absolute;
      z-index: -1;
      pointer-events: none;
      background: var(--cl-k);
    }

    &::before {
      content: "";
      width: calc(100% + 40px);
      left: -20px;
      bottom: 0;
      height: 1px;
      position: absolute;
      z-index: -1;
      pointer-events: none;
      background: var(--cl-k);
    }
  }

  &__links {
    align-items: center;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr auto;

    .main-button {
      min-width: 117px;
      height: 38px;
      border-radius: 12px;
      padding: 5px 10px;;
      font-weight: 400;
      font-size: 14px;
      text-transform: none;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      width: calc(100% + 40px);
      left: -20px;
      bottom: 0;
      height: 1px;
      position: absolute;
      z-index: -1;
      pointer-events: none;
      background: var(--cl-k);
    }

    .single-form {
      &__label {
        @include for-tablet {
          margin-bottom: 26px;
        }
      }

      &__title {
        &:first-of-type {
          height: clamp(89px, 6.6176vw, 90px);
          margin-top: -20px;
          display: flex;
          align-items: center;

          @include for-tablet {
            width: calc(100% + 20px);
          }
        }

        @include tablet {
          display: flex;
          align-items: center;
          height: 62px;
        }
      }
    }

    @include tablet {
      padding-bottom: 0;
    }
  }

  &__title {;
    font-weight: 600;
    font-size: 16px;
    color: var(--cl-a);

    @include tablet {
      font-size: 18px;
      line-height: 133%;
    }
  }

  &__label {
    display: flex;
    width: 100%;

    input {
      border: 1px solid var(--cl-d);
      border-radius: 12px;
      width: 100%;
      height: 55px;
      padding: 5px 20px;;
      font-weight: 400;
      font-size: 16px;
      color: var(--cl-a);

      @include tablet {;
        font-weight: 500;
      }
    }
  }
}
