@use "../mixins/breakpoint" as *;

.table-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border-top: 1px solid var(--cl-d);

  &__item {
    border-right: 1px solid var(--cl-d);
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px 25px 13px;

    img {
      width: 23px;
      height: 23px;
      margin-left: 3px;
      margin-bottom: 3px;
      display: flex;

      @include mobile {
        grid-row: 1/3;
        align-self: center;
        width: 29px;
        height: 29px;
        margin: 0 1px 0 0;
      }
    }

    .sprite {
      display: flex;
      width: 26px;
      height: 26px;

      svg {
        width: 100%;
        height: 100%;
      }

      @include mobile {
        grid-row: 1/3;
        align-self: center;
        width: 30px;
        height: 30px;
      }
    }

    @include for-mobile {
      &:nth-child(3),
      &:nth-child(6) {
        border-right: none;
      }

      &:nth-child(n + 4) {
        border-top: 1px solid var(--cl-d);
      }
    }

    @include mobile {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 2px 20px;
      height: 100px;
      align-items: center;
      padding-right: 5px;

      &:nth-child(2),&:nth-child(4),
      &:nth-child(6) {
        border-right: none;
      }

      &:nth-child(n + 3) {
        border-top: 1px solid var(--cl-d);
      }
    }
  }

  &__name {
    font-weight: 400;
    font-size: clamp(13px, 1.0294vw, 14px);
    color: var(--cl-i);
    margin-bottom: 1px;

    @include small-tablet {
      color: #838383;
    }

    @include mobile{
      line-height: 110%;
      align-self: end;
    }
  }

  &__value {
    ;
    font-weight: 400;
    font-size: 16px;
    color: var(--cl-a);

    @include tablet {
      ;
      font-weight: 500;
    }

    @include mobile{
      align-self: start;
    }
  }

  @include tablet {
    border-bottom: 1px solid var(--cl-d);
  }

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}
