@use "../mixins/breakpoint" as *;

.team-slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  border-radius: 16px;

  &__wrapper {
    display: flex;
  }

  &__slide {
    display: flex;
    gap: 20px;
    border-radius: 16px;
  }

  .slider-btn{
    &:not(:hover){
      background: var(--cl-b);
    }
  }
}

.team-card {
  width: 100%;
  border-radius: 16px;
  height: clamp(350px, 33.26vw, 479px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;

    img,
    picture {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include small-tablet {
      height: clamp(400px, 62.37vw, 479px);
      border-radius: 16px 16px 0 0;
    }
  }

  &__info {
    flex: 1;
    background: var(--cl-b);
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: flex-end;
    padding: 21px 23px;
    border-radius: 16px;

    @include small-tablet {
      gap: 13px;
      border-radius: 0 0 16px 16px;
      padding: 31px 20px 20px;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    color: var(--cl-a);
    max-width: calc(100% - 120px);

    @include small-tablet {
font-weight: 500;
font-size: 22px;
    }
  }

  &__position {
    font-weight: 400;
    font-size: 14px;
    color: var(--cl-a);
    max-width: calc(100% - 120px);
  }

  @include tablet {
    height: clamp(350px, 39.06vw, 400px);
  }

  @include for-small-tablet {
    gap: 20px;
  }

  @include small-tablet {
    height: 100%;
    grid-template-columns: 100%;
  }
}
