@use "../mixins/breakpoint" as *;
@use "../mixins/disable-mob-hover" as *;


.terms-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 23px clamp(23px, 2.9412vw, 40px);

  &__bg {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    inset: 0;

    img,
    picture {
      transition: all .4s;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    color: var(--cl-b);

    @include small-tablet {
      font-weight: 600;
      font-size: 18px;
    }
  }

  &__item {
    padding: 23px 25px 33px;
    position: relative;
    z-index: 1;
    border-radius: 16px;
    width: 100%;
    height: clamp(220px, 19.8529vw, 270px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;

    &.mode {
      height: fit-content;
      grid-column: 1/-1;
      border-radius: initial;
      padding: 0;

      p {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: var(--cl-a);
      }

      @include small-tablet {
        margin: 10px 0;
      }
    }

    ul:not([class]) {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-left: clamp(3px, .7353vw, 10px);
      li {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 10px;

        &::before {
          content: "";
          position: absolute;
          top: 10px;
          left: 0;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: var(--cl-b);
        }

        p {
          ;
          font-weight: 400;
          font-size: 16px;
          line-height: 144%;
          color: var(--cl-b);
        }
      }

      @include tablet{
        padding-left: 5px;
      }
    }

    @include hover{
    .terms-list__bg{
        img,picture{
            transform: scale(1.04);
        }
    }
  }

    @include small-tablet{
        @include for-mobile{
            height: 270px;
        }
    }
  }

  @include small-tablet {
    gap: 15px;
    grid-template-columns: 100%;
  }


}
