@use "../../mixins/breakpoint" as *;

.blog-section {
  padding-bottom: var(--default-gap);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: clamp(24px, 2.9412vw, 40px);
    min-width: 0;
    overflow: visible;
    padding-top: clamp(20px, 2.2059vw, 30px);

    @include tablet {
      padding-top: 0;
    }

    // Hero elements spacing
    .cert__breadcrumb {
      margin-bottom: 0;
    }

    .cert__hero {
      margin-bottom: clamp(36px, 4.4118vw, 60px);
      max-width: 100%;
    }

    .cert__hero-title {
      font-size: 38px;
      white-space: nowrap !important;
      overflow: visible;
    }

    .cert__hero-subtitle {
      white-space: pre-line;
    }
  }

  &__box {
    display: grid;
    grid-template-columns: clamp(280px, 22.7941vw, 310px) 1fr;
    gap: clamp(20px, 3.6765vw, 50px);

    padding-bottom: clamp(34px, 2.8676vw, 39px);

    @include tablet {
      gap: 20px;
      grid-template-columns: 100%;
    }

    @include mobile {
      padding-bottom: 20px;
      gap: 65px;
    }
  }

  .aside {
    height: fit-content;
    transition: all .4s ease;

    @include for-tablet {
      height: calc(100dvh - (var(--header-height) + 15px + clamp(34px, 2.8676vw, 39px)));
      position: sticky;
      z-index: 10;
      top: 20px;
    }

    @include tablet {
      display: none;
    }
  }

  @include tablet {
    padding-top: 25px;
  }
}
