@use '../../mixins/breakpoint' as *;

.editor-section {
    padding-bottom: 20px;
    margin-bottom: clamp(40px, 4.9751vw, 60px);
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        width: 100vw;
        left: 50%;
        height: 1px;
        transform: translateX(-50%);
        bottom: 0;
        z-index: -1;
        pointer-events: none;
        content: '';
        background: var(--col-q);
        z-index: 0;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: clamp(26px, 2.8676vw, 39px);

        .more-btn {
            margin-top: calc((clamp(26px, 2.8676vw, 39px) - 5px) * -1);

            @include mobile {
                margin-top: -5px;
                position: relative;
                z-index: 2;

                &::before{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 10px;
                    pointer-events: none;
                    background: #f1f0eb;
                    top: -11px;
                    left: 0;
                }

                &.active{
                    &::before{
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }

        .editor {
            &[data-clip-item] {
                position: relative;
                z-index: 1;
                overflow: hidden;

                max-height: 164px;

                &::before {
                    content: '';
                    transition: all 0.3s;
                    background: linear-gradient(
                        0deg,
                        #f1f0eb 0%,
                        rgba(241, 240, 235, 0.8) 54.58%,
                        rgba(241, 240, 235, 0.38) 100%
                    );
                    width: 100%;
                    height: 71px;
                    z-index: 2;
                    pointer-events: none;
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                }
            }

            &[data-clip-item='true'] {
                &::before {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        @include mobile {
            gap: 15px;

            .h2{
                line-height: 135%;
            }
        }
    }

    &.homePage {
        .editor_title {
            font-weight: 590;
            font-size: 21px;
            line-height: 25px;
            color: #000000;
            margin-top: 30px;
        }
        .editor_text {
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            color: #515151;
            margin-top: 20px;

            ol .text-strong {
                color: #000000;
            }

            ol li {
                display: block;
                gap: 0;
            }
        }
        .editor_text:first-of-type {
            margin-top: 0;
        }
    }

    @include mobile {
        padding-bottom: 25px;
    }
}
