@use '../../mixins/breakpoint' as *;

.map-section {
  position: relative;
  padding-top: clamp(30px, 5.22vw, 50px);
  padding-bottom: clamp(25px, 4.56vw, 60px);


  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include for-small-tablet {
      position: absolute;
      padding-top: clamp(5px, 3.91vw, 50px);
      left: var(--container-offset);
      z-index: 3;
      max-width: Min(550px, 55%);
    }

    @include small-tablet {
      max-width: 575px;
      margin: 0 auto 20px;
      width: 100%;

      @include for-mobile {
        text-align: center;
      }
    }

    p {
      ;
      color: var(--cl-a);
    }
  }

  &__top {
    display: grid;
    grid-template-columns: clamp(60px, 10.43vw, 124px) 1fr;
    align-items: flex-end;
    gap: 10px;
    width: fit-content;
    margin-left: auto;

    @include small-tablet {
      margin: 0 auto 15px;
    }

    @include mobile {
      justify-content: flex-start;
      width: 100%;
    }

    .title {
      @include for-small-tablet {
        padding: clamp(60px, 8.47vw, 90px) clamp(50px, 8.47vw, 90px) 0;
        z-index: 1;
        position: relative;

        &:before {
          border-radius: 50%;
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: clamp(10px, 2.61vw, 20px);
          bottom: calc(clamp(100px, 16.95vw, 160px) * -1);
          display: flex;
          //background-color: red;
          background-color: var(--cl-g);
          z-index: -1;
        }
      }


    }
  }

  &__bg {
    position: relative;
    z-index: 2;
    display: flex;

    picture,img {
      display: flex;
      height: auto;
      width: 100%;
      //aspect-ratio: 16 / 9;
      //object-fit: contain;
    }
  }
}
