@use "../../mixins/breakpoint" as *;

$rental-error-color: #d24b4b;
$rental-success-color: #2f8f5b;

.rent-page {
  &__surface {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .custom-select--error {
      border-radius: 12px;
      border: 1px solid var(--error-color, #d24b4b) !important;
  }
  &__main {
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: clamp(16px, 1.7647vw, 24px);
    max-width: 768px;
  }

  &__form-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    border-radius: 24px;
    background: transparent;

    @include for-small-tablet {
      overflow: hidden;
    }
  }

  &__search {
    background: var(--cl-b);
    border-radius: 20px;
    padding: 15px 15px 10px 15px;
    display: grid;
    gap: 15px;
    margin-bottom: 0;

    .select-field.active {
      background-color: transparent;
    }
  }

  &__select {
    height: 40px;
    align-items: center;
    display: flex;
    gap: 10px;
    width: 100%;
    padding-left: 10px;

    .selected-options {
      justify-content: flex-start;

      .selected-option {
        width: 100%;
      }

      .option-label {
        max-width: 90%;
        font-weight: 400;
        font-size: 16px;
        text-align: start;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
      }
    }

    .option-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      text-align: start;
      justify-content: flex-start;
    }

    .select-icon {
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      color: var(--cl-e);
    }

    .arrow-down {
      flex-shrink: 0;
      color: var(--cl-a);
    }

    .select-field {
      width: calc(100% - 40px);
      gap: 3px;
      border-color: transparent;
      padding: 0;
      background: transparent;
      height: 40px;

      * {
        color: var(--cl-a);
      }
    }

    .select-text {
      color: var(--cl-a);
    }

    @include mobile {
      .select-field {
        width: 100%;
      }

      .selected-options {
        max-width: min(60.76vw, 350px);
      }

      .arrow-down {
        margin-right: 5px;
      }
    }

    &--error {
      //.select-field {
        border: 1px solid $rental-error-color;
        border-radius: 12px;
      //}
    }
  }

  &__date-field {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 20px;
    cursor: pointer;

    input {
      font-weight: 400;
      font-size: 16px;
      text-align: start;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      width: 100%;
      background: transparent;
      border: none;
      color: var(--cl-a);
    }
  }

  &__date-icon {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cl-e);
    margin-left: 10px;
  }

  &__date-arrow {
    width: 12px;
    height: 8px;
    display: flex;
    margin-right: 5px;
    transition: transform 0.3s ease;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__details {
    flex-shrink: 0;
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: 20px;

    @include for-small-tablet {
      border-radius: 16px;
      background: var(--cl-b);
      box-sizing: border-box;
      padding: 24px 20px 20px;
    }
  }

  &__details-layout {
    display: flex;
    flex-direction: column;
    gap: 26px;

    .main-form {
      grid-template-columns: 100%;
      gap: 25px;

      .custom-select {
        grid-column: 1/-1;
        height: 50px;
        width: 100%;
        min-width: initial;

        .selected-options {
          column-gap: 10px;
          width: fit-content;

          .option-label {
            font-weight: 400;
            font-size: 13px;
            color: var(--cl-a);
          }
        }

        .option-text {
          height: 38px;
          font-size: 13px;
        }

        .placeholder {
          font-weight: 400;
          font-size: 13px;
          color: #565656;
        }

        .select-field {
          border-color: var(--cl-d);
          padding: 5px 11px 5px 16px;
          height: 50px;
        }
      }

      .main-button {
        height: 50px;
        border-radius: 12px;
        grid-column: 1/-1;
        font-weight: 500;
      }

      &__wrapp {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 20px;
        background-color: #fff;
        border-radius: 16px;
        padding: 15px;

        .custom-checkbox:has(input:checked) .custom-checkbox__content {
            border: 1px solid var(--cl-l);
        }

        .custom-checkbox.offer input:checked + span:before {
          border-color: #214230;
          background-color: #214230;
        }

        &.mode {
          margin-bottom: 10px;

          @include small-tablet {
            border: 1px solid #dbdbdb;
            border-radius: 12px;
            padding: 20px 15px;
            background: var(--col-l);
            margin-bottom: 0;
          }
        }

        &.inchurance {
          @include for-small-tablet {
            display: none;
          }
        }

        &.fields {
          grid-template-columns: 100%;

          @include small-tablet {
            border: 1px solid #dbdbdb;
            border-radius: 12px;
            padding: 20px 15px;
            background: var(--col-l);
          }
        }

        @include tablet {
          grid-template-columns: 100%;
        }
      }

      &__label {
        &.calendar {
          grid-column: 1/-1;
          display: flex;
          align-items: center;
          gap: 12px;
          height: 50px;
          border: solid 1px var(--cl-d);
          border-radius: 12px;
          padding: 5px 5px 5px 17px;

          input {
            font-weight: 400;
            font-size: 13px;
            color: var(--cl-a);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            text-align: start;

            &::placeholder {
              color: var(--col-k);
            }
          }

          .arrow-down {
            width: 12px;
            height: 8px;
            display: flex;
            margin-right: 5px;
            transition: all 0.3s;

            svg {
              width: 100%;
              height: 100%;
            }

            &.active {
              transform: scaleY(-1);
            }
          }
        }
      }

      &__input {
        border-color: var(--cl-d);
        border-radius: 12px;
        font-weight: 400;
        font-size: 14px;
        padding-left: 11px;
        color: var(--cl-a);
        background: transparent;

        &::placeholder {
          font-weight: 400;
          font-size: 13px;
          color: var(--col-k);
        }

        &:focus {
          border-color: var(--cl-l);
        }

        &--error {
          border: 1px solid $rental-error-color;
        }
      }

      &__text {
        display: flex;
        align-items: center;
        gap: 6px;
        font-weight: 600;
        font-size: 16px;
        color: #000;
        grid-column: 1/-1;
      }
    }
  }

  &__summary {
    border-radius: 24px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.04);
    overflow: hidden;
  }

  &__summary-panel {
    background-color: #fff;
    @include small-tablet {
      border-radius: 20px;
      box-shadow: none;
    }
  }

  &__summary-image {
    width: 100%;
    height: clamp(250px, 23.4559vw, 319px);
    display: flex;

    img,
    picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include mobile {
      height: clamp(230px, 52.08vw, 400px);
    }
  }

  &__summary-title {
    font-weight: 500;
    font-size: 18px;
    color: var(--cl-a);
    border-bottom: 1px solid var(--cl-d);
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 3px 20px;

    @include mobile {
      display: none;
    }
  }

  &__summary-list {
    display: flex;
    flex-direction: column;
  }

  &__summary-item {
    display: flex;
    padding: 0 20px;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    border-bottom: 1px dashed #ccc;

    &:last-of-type {
      border: none;
    }

    &--mode {
      flex-direction: column;
      gap: initial;
    }
  }

  &__summary-item-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    height: 45px;
    justify-content: space-between;
  }

  &__summary-item-info {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      gap: initial;
      align-items: flex-start;

      .rent-page__summary-info {
        height: fit-content;
        align-items: flex-start;
        min-height: 40px;

        * {
          line-height: 140%;
          text-align: start;
        }
      }

      .rent-page__summary-name {
        display: flex;
        align-items: center;
      }

      &:last-of-type {
        margin-bottom: 6px;
      }
    }
  }

  &__summary-name {
    font-weight: 400;
    font-size: 14px;
    color: var(--col-j);
    white-space: nowrap;
  }

  &__summary-info {
    min-height: 50px;
    font-size: 12px;
    color: var(--col-i);
    text-align: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    line-height: 115%;

    b {
      font-weight: 500;
      font-size: 14px;
      color: var(--cl-a);
    }
  }

  &__summary-value {
    font-weight: 500;
    font-size: 14px;
    text-align: end;
    color: var(--cl-a);

    b {
      display: flex;
      align-items: center;
      font-weight: 600;
      height: 50px;
    }

    &--big {
      font-weight: 600;
      font-size: 18px;
      height: 58px;
      display: flex;
      align-items: center;
    }
  }

  .insurance {
    //max-width: 420px;
    background: #fff;
    border-radius: 16px;
    padding: 20px 10px 10px;
    font-family: system-ui, sans-serif;

    &__title {
      font-size: 18px;
      font-weight: 600;
      color: #111;
      margin-bottom: 20px;
      margin-left: 10px;
    }

    &__options {
      display: flex;
      gap: 10px;
      justify-content: center;
      margin-bottom: 28px;
    }

    &__option {
      font-size: 13px;
      font-weight: 500;
      padding: 12px 14px;
      border: 1px solid #ccc;
      border-radius: 20px;
      background: #fff;
      color: #222;
      cursor: pointer;
      transition: 0.2s;

      &.active {
        background: #1e372e;
        color: #fff;
        border-color: #1e372e;
      }

      &:hover {
        border-color: #1e372e;
      }
    }

    &__features {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &__feature {
      display: flex;
    }

    &__feature-left {
    }

    &__feature-right {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding: 9px 20px;
      margin-left: -8px;
      margin-top: -5px;

      z-index: 10;
      position: relative;

      &::before {
        z-index: 1;
        content: "";
        position: absolute;
        inset: 0;
        background: url("/img/button-border.svg") no-repeat center/100% 100%;
        pointer-events: none;
      }
    }

    &__icon-bg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px dashed #DBDBDB;

      svg {
        vertical-align: middle;
      }
    }

    &__text {
      display: inline-block;
      vertical-align: middle;
    }

    &__label {
      font-size: 16px;
      color: #000000;
      font-weight: 400;
    }

    &__sub {
      display: block;
      font-size: 14px;
      color: #747474;
      font-weight: 400;
    }

    &__status {
    }

    &__footer {
      margin-top: 10px;
      font-size: 15px;
      color: #000;
      display: flex;
      gap: 10px;
    }

    &__deposit {
      font-size: 16px;
      display: flex;
      flex: 1 0 calc(50% - 5px);
      height: 80px;
      border: 1px solid #DBDBDB;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
    }

    &__price {
      font-size: 18px;
      display: flex;
      flex: 1 0 calc(50% - 5px);
      height: 80px;
      border: 1px solid #DBDBDB;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 4px;

      b {
        font-weight: 600;
      }

      &-sub {
        font-size: 13px;
        color: #747474;
      }
    }
    .insurance__status {
      display: flex;
      align-items: center;
    }
  }

}

.rent-page-form__error {
  margin: 0;
  font-size: 13px;
  color: $rental-error-color;
}

.rent-page-form__feedback {
  margin: 0;
  font-size: 13px;
  color: var(--cl-a);

  &--success {
    color: $rental-success-color;
  }

  &--error {
    color: $rental-error-color;
  }
}

