@use "../../mixins/breakpoint" as *;

.terms-section {
  padding-bottom: var(--default-gap);

  .pretitle {
    width: fit-content;
    padding-left: 67px;
    text-align: start;
    ;
    font-weight: 400;
    &:after {
      width: 40px;
      left: 17px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: clamp(59px, 5vw, 68px);

    .breadcrumbs {
      @include for-tablet {
        display: none;
      }
    }

    & > .pretitle {
      @include tablet {
        display: none;
      }
    }

    @include for-tablet {
      padding-top: 77px;
    }
  }


  &__content {
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 2.9412vw, 40px);

    .terms-card{
      @include small-tablet{
        margin-bottom: 28px;
      }
    }
  }

  &__box {
    display: grid;
    grid-template-columns: clamp(280px, 22.7941vw, 310px) 1fr;
    gap: clamp(20px, 3.6765vw, 50px);

    padding-bottom: clamp(34px, 2.8676vw, 39px);

    @include tablet {
      gap: 20px;
      grid-template-columns: 100%;
    }

    @include mobile {
      padding-bottom: 20px;
      gap: 65px;
    }
  }

  &__tabs{
    display: flex;
    flex-direction: column;
    gap: 15px;

    .editor{
      gap: 16px;

      .terms-table{
        margin-top: clamp(14px, 1.1765vw, 16px);
      }
    }

    @include small-tablet{
      gap: 26px;
    }
  }

  .aside {
    height: fit-content;
    transition: all .4s ease;

    @include for-tablet{
      height: calc(100dvh - (var(--header-height) + 15px +  clamp(34px, 2.8676vw, 39px)));
      position: sticky;
      z-index: 10;
      top: 20px;
    }

    @include tablet {
      display: none;
    }
  }


  @include for-tablet{
    position: relative;
    z-index: 1;
  }

  @include tablet {
    padding-top: 25px;
  }
}
