@use '../../mixins/breakpoint' as *;

.main-top {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;

  &__title {
    color: var(--cl-a);
    font-size: clamp(18px, 4.17vw, 40px);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    ;
    text-transform: uppercase;
    line-height: 130%;


    @include mobile {
      br {
        display: none;
      }
    }
  }

  p {
    font-size: clamp(14px, 2.09vw, 16px);
    line-height: 120%;
    color: var(--cl-a);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

    font-size: clamp(14px, 2.09vw, 16px);
    line-height: 120%;
    color: var(--cl-a);
  }
}
