@use "../../mixins/breakpoint" as *;
@use "../../mixins/disable-mob-hover" as *;

.main-nav {
  &__acc {
    &-content {
      a {
        ;
        font-size: 15px;
        margin-bottom: 12px;
        position: relative;
        z-index: 1;
        padding-left: 13px;
        display: flex;

        &:after {
          content: "";
          position: absolute;
          width: 5px;
          height: 5px;
          pointer-events: none;
          top: 5.5px;
          border-radius: 50%;
          left: 3px;
          background: #7b7b7b;
        }

        &:first-of-type {
          margin-top: 18px;
        }

        &:last-of-type{
          margin-bottom: 0 !important;
        }
      }
    }

    &-btn {
      ;
      font-weight: 400;
      font-size: 13px;
      color: var(--cl-a);
      transition: all 0.3s;
      gap: 13px;
      display: flex;
      align-items: center;

      .sprite {
        width: 11px;
        height: 8px;
        display: flex;
        transition: all 0.3s;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      &.active {
        .sprite {
          transform: scaleY(-1);
        }
      }

      @include hover {
        color: var(--cl-l);
      }
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > li {
      a {
        ;
        font-weight: 400;
        font-size: 13px;
        color: var(--cl-a);
        transition: all 0.3s;
        position: relative;
        z-index: 1;

        &.active {
          pointer-events: none;

            &:after {
              content: "";
              position: absolute;
              width: 5px;
              height: 5px;
              pointer-events: none;
              top: 4.5px;
              transform: translateX(-100%);
              border-radius: 50%;
              left: calc(clamp(34px, 3.6029vw, 49px) * -1);
              background: #343434;

              @include tablet{
                left: -8px;
              }
            }

            @include for-tablet {
            &::before {
              content: "";
              left: -9px;
              background: var(--cl-m);
              top: 7px;
              height: 1px;
              position: absolute;
              transform: translateX(-100%);
              width: clamp(20px, 2.5735vw, 35px);
            }
          }
        }

        @include hover {
          color: var(--cl-l);
        }
      }
    }


  }
}
