<header class="header fixed-block">
    <div class="container" data-aos="fade-down" data-aos-duration="700" data-aos-delay="700">
        <div class="header__inner">
            <button class="burger">
                <span class="burger__line"></span>
            </button>

            <a href="/" class="logo"> REIZ RENTAL </a>

            <a href="#" class="phone-link">
                <i class="sprite">
                    <svg width="30" height="30">
                        <use href="/img/sprite/sprite.svg#phone"></use>
                    </svg>
                </i>
            </a>

            <div class="mobile">
                <div class="mobile__box">
                    <div class="header__choice">
                        <div class="custom-select choice">
                            <div class="select-field">
                                <div class="selected-options"></div>
                                <div class="arrow-down">
                                    <svg width="6" height="3">
                                        <use href="/img/sprite/sprite.svg#angle"></use>
                                    </svg>
                                </div>
                            </div>
                            <ul class="options-container">
                                <li class="option active" data-value="Русский">
                                    <span class="option-text">Русский</span>
                                </li>
                                <li class="option" data-value="Українська">
                                    <span class="option-text">Українська</span>
                                </li>
                                <li class="option" data-value="English">
                                    <span class="option-text">English</span>
                                </li>
                            </ul>
                        </div>

                        <div class="custom-select choice lang">
                            <span class="select-text">Валюта:</span>
                            <div class="select-field">
                                <div class="selected-options"></div>
                                <div class="arrow-down">
                                    <svg width="6" height="3">
                                        <use href="/img/sprite/sprite.svg#angle"></use>
                                    </svg>
                                </div>
                            </div>
                            <ul class="options-container">
                                <li class="option active" data-value="USD">
                                    <span class="option-text">USD</span>
                                </li>
                                <li class="option" data-value="Українська">
                                    <span class="option-text">EUR</span>
                                </li>
                                <li class="option" data-value="English">
                                    <span class="option-text">UAH</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header__wrapper">
                        <nav class="main-nav">
                            <ul>
                                <li>
                                    <a href="/" class="active">ГЛАВНАЯ</a>
                                </li>
                                <li>
                                    <ul class="main-nav__acc" data-accordion>
                                        <li class="main-nav__acc-item">
                                            <button class="main-nav__acc-btn" data-id="1">
                                                АВТОМОБИЛИ
                                                <i class="sprite">
                                                    <svg width="11" height="8">
                                                        <use
                                                            href="/img/sprite/sprite.svg#arrow-d"
                                                        ></use>
                                                    </svg>
                                                </i>
                                            </button>
                                            <div class="main-nav__acc-content" data-content="1">
                                                <a href="#catalog">Оренда авто у Києві</a>
                                                <a href="#catalog">Оренда авто у Львові</a>
                                                <a href="#catalog">Оренда авто у Тернополі</a>
                                              </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/insurance">СТРАХУВАННЯ</a>
                                </li>
                                <li>
                                    <a href="/business">ОРЕНДА ДЛЯ БІЗНЕСУ</a>
                                </li>
                                <li>
                                    <a href="/certificate">СЕРТИФІКАТИ</a>
                                </li>
                                <li>
                                    <a href="/terms">УМОВИ ОРЕНДИ</a>
                                </li>
                                <li>
                                    <a href="/faq">ПИТАННЯ - ВІДПОВІДЬ</a>
                                </li>
                                <li>
                                    <a href="/invest">ЗДАТИ АВТО В ОРЕНДУ</a>
                                </li>
                                <li>
                                    <a href="/blog">БЛОГ</a>
                                </li>
                                <li>
                                    <a href="/about">ПРО НАС</a>
                                </li>
                                <li>
                                    <a href="/contacts">КОНТАКТИ</a>
                                </li>
                            </ul>
                        </nav>

                        <div class="header__links">
                            <a href="tel:+380635471186" class="tel-link">+38 (063) 547 11 86</a>

                            <a href="#" class="header__link" aria-label="REIZ у WhatsApp">
                                <span class="default">
                                  <img
                                    width="26"
                                    height="26"
                                    src="/img/sprite/WATHSAP.svg"
                                    alt="REIZ у WhatsApp"
                                  />
                                </span>
                                <span class="hover">
                                  <img
                                    width="26"
                                    height="26"
                                    src="/img/sprite/WATHSAP_hover.svg"
                                    alt="REIZ у WhatsApp"
                                  />
                                </span>
                              </a>
                              
                              <a href="#" class="header__link" aria-label="REIZ у Telegram">
                                <span class="default">
                                  <img
                                    width="26"
                                    height="26"
                                    src="/img/sprite/Telegram_logo.svg"
                                    alt="REIZ у Telegram"
                                  />
                                </span>
                                <span class="hover">
                                  <img
                                    width="26"
                                    height="26"
                                    src="/img/sprite/tg_hover.svg"
                                    alt="REIZ у Telegram"
                                  />
                                </span>
                              </a>
                              
                              <a href="#" class="header__link" aria-label="REIZ в Instagram">
                                <span class="default">
                                  <img
                                    width="26"
                                    height="26"
                                    src="/img/sprite/ingsta.svg"
                                    alt="REIZ в Instagram"
                                  />
                                </span>
                                <span class="hover">
                                  <img
                                    width="26"
                                    height="26"
                                    src="/img/sprite/INST_hover.svg"
                                    alt="REIZ в Instagram"
                                  />
                                </span>
                              </a>                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
