<div class="overlay fixed-block" data-overlay>
    <form class="cabinet-modal modal" data-popup="cabinet_order">
      <div class="modal__top">
        <span class="modal__title">Назва: Mercedes-Benz S-Class 2024 </span>
  
        <div class="modal__btns">
          <button type="submit" class="grey-btn">Зберегти</button>
          <button type="button" class="grey-btn close">Назад</button>
        </div>
      </div>
  
      <div class="modal__box">
        <div class="modal__form">
          <label class="modal__label">
            <span>Тип події: </span>
            <input type="text" name="type" id="type" />
          </label>
          <label class="modal__label">
            <span>Дата події:</span>
            <input
              type="text"
              name="date"
              id="date"
              data-calendar="full"
              value="05.04.2025 до 08.04.2025"
            />
          </label>
          <label class="modal__label">
            <span>Пробіг:</span>
            <input type="text" name="value" id="value" />
          </label>
          <label class="modal__label">
            <span>Вартість:</span>
            <input type="text" name="currency" id="currency" />
          </label>
          <label class="modal__label">
            <span>Відповідальний:</span>
            <input type="text" name="name" id="name" />
          </label>
          <label class="modal__label">
            <span>Опис / коментар</span>
            <textarea name="mess" id="mess"></textarea>
          </label>
          <button class="grey-btn" data-btn-gallery>Додати фото або документ</button>
  
          <div class="modal__images" data-gallery-box></div>
        </div>
      </div>
    </form>
  
    <form name="edit" class="cabinet-modal modal mode" data-popup="settings">
      <div class="modal__top">
        <span class="modal__title">Назва:</span>
  
        <div class="modal__btns">
          <button type="submit" class="grey-btn">Зберегти</button>
          <button type="button" class="grey-btn close">Назад</button>
        </div>
      </div>
  
      <div class="modal__box mode">
        <div class="modal__form">
          <label class="modal__label">
            <span>Марка: </span>
            <input data-edit="brand" type="text" name="brand" id="auto" />
          </label>
          <label class="modal__label">
            <span>Модель: </span>
            <input data-edit="model" type="text" name="model" id="model" />
          </label>
          <label class="modal__label">
            <span>Номер: </span>
            <input data-edit="plateNumber" type="text" name="plateNumber" id="number" />
          </label>
          <label class="modal__label">
            <span>VIN: </span>
            <input data-edit="VIN" type="text" name="VIN" id="vin" />
          </label>
          <label class="modal__label">
            <span>Рік: </span>
            <input
              data-edit="yearOfManufacture"
              type="text"
              name="yearOfManufacture"
              id="year"
            />
          </label>
          <label class="modal__label">
            <span>Колір: </span>
            <input data-edit="color" type="text" name="color" id="color" />
          </label>
          <div class="custom-select cabinet">
            <div class="select-field">
              <div class="selected-options">
                <span class="placeholder">Сегмент</span>
              </div>
              <div class="arrow-down">
                <svg width="6" height="3">
                  <use href="/img/sprite/sprite.svg#angle"></use>
                </svg>
              </div>
            </div>
            <ul class="options-container">
              <li class="option" data-value="1">
                <span class="option-text">Economy</span>
              </li>
              <li class="option" data-value="2">
                <span class="option-text">Business</span>
              </li>
              <li class="option" data-value="3">
                <span class="option-text">Luxury</span>
              </li>
              <li class="option" data-value="4">
                <span class="option-text">SUV</span>
              </li>
              <li class="option" data-value="5">
                <span class="option-text">VAN</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </form>
  </div>
  