<div class="overlay fixed-block" data-overlay>
    <div class="modal" data-popup="order">
      <button class="close modal__close">
        <svg width="24" height="24">
          <use href="/img/sprite/sprite.svg#close"></use>
        </svg>
      </button>
  
      <div class="editor">
        <h2>Залишити заявку</h2>
        <p>Натискаючи кнопку «Залишити заявку», ви приймаєте<br> умови обробки персональних даних</p>
  
        <form class="modal-form">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__field" />
            <span class="custom-checkbox__content">Я ознайомився з умовами обробки персональних даних</span>
          </label>
          <button class="main-button" type="submit">Залишити заявку</button>
        </form>
      </div>
    </div>
  
    <div class="modal" data-popup="offer">
      <button class="close modal__close">
        <svg width="24" height="24">
          <use href="/img/sprite/sprite.svg#close"></use>
        </svg>
      </button>
  
      <div class="editor">
        <h2>Отримати пропозицію</h2>
  
        <form class="modal-form">
          <label class="modal-form__label">
            <input type="text" name="name_offer" id="name_offer" placeholder="Ім'я" class="modal-form__input" />
          </label>
          <label class="modal-form__label">
            <input type="tel" name="phone_offer" id="phone_offer" placeholder="Телефон" class="modal-form__input" />
          </label>
          <label class="modal-form__label">
            <input type="tel" name="mail_offer" id="main_offer" placeholder="E-mail" class="modal-form__input" />
          </label>
  
          <p>Натискаючи кнопку «Залишити заявку», ви приймаєте умови обробки персональних даних</p>
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__field" />
            <span class="custom-checkbox__content">Я ознайомився з умовами обробки персональних даних</span>
          </label>
          <button class="main-button" type="submit">Залишити заявку</button>
        </form>
      </div>
    </div>
  
    <div class="rent-modal modal" data-popup="rent">
      <button class="close modal__close">
        <svg width="24" height="24">
          <use href="/img/sprite/sprite.svg#close"></use>
        </svg>
      </button>
  
      <div class="modal__box">
        <span class="modal-step__title">ЗАПИТ НА БРОНЮВАННЯ</span>
        <form class="modal__content">
          <div class="order-form">
            <div class="custom-select order">
              <span class="select-icon">
                <svg width="25" height="25">
                  <use href="/img/sprite/sprite.svg#geo"></use>
                </svg>
              </span>
              <div class="select-field">
                <div class="selected-options"></div>
                <div class="arrow-down">
                  <svg width="6" height="3">
                    <use href="/img/sprite/sprite.svg#arrow-d"></use>
                  </svg>
                </div>
              </div>
              <ul class="options-container">
                <li class="option active" data-value="Київ, Аеропорт «Бориспіль», термінал 3б">
                  <span class="option-text">Київ, Аеропорт «Бориспіль», термінал 3б</span>
                </li>
                <li class="option" data-value="Київ, Аеропорт «Жуляни», термінал 2а">
                  <span class="option-text">Київ, Аеропорт «Жуляни», термінал 2а</span>
                </li>
                <li class="option" data-value="Львів, Аеропорт «Центральний», термінал 1">
                  <span class="option-text">Львів, Аеропорт «Центральний», термінал 1</span>
                </li>
              </ul>
            </div>
  
            <div class="custom-select order">
              <span class="select-icon">
                <svg width="25" height="25">
                  <use href="/img/sprite/sprite.svg#geo"></use>
                </svg>
              </span>
              <div class="select-field">
                <div class="selected-options"></div>
                <div class="arrow-down">
                  <svg width="6" height="3">
                    <use href="/img/sprite/sprite.svg#arrow-d"></use>
                  </svg>
                </div>
              </div>
              <ul class="options-container">
                <li class="option active" data-value="Київ, Аеропорт «Бориспіль», термінал 3б">
                  <span class="option-text">Київ, Аеропорт «Бориспіль», термінал 3б</span>
                </li>
                <li class="option" data-value="Київ, Аеропорт «Жуляни», термінал 2а">
                  <span class="option-text">Київ, Аеропорт «Жуляни», термінал 2а</span>
                </li>
                <li class="option" data-value="Львів, Аеропорт «Центральний», термінал 1">
                  <span class="option-text">Львів, Аеропорт «Центральний», термінал 1</span>
                </li>
              </ul>
            </div>
  
            <label class="order-form__label">
              <span class="order-form__icon">
                <svg width="21" height="21">
                  <use href="/img/sprite/sprite.svg#car"></use>
                </svg>
              </span>
              <input
                type="text"
                name="date"
                id="date"
                data-calendar="short"
                value="26 квіт. 10:00 - 26 квіт. 10:00"
              />
  
              <div class="arrow-down">
                <svg width="6" height="3">
                  <use href="/img/sprite/sprite.svg#arrow-d"></use>
                </svg>
              </div>
            </label>
  
            <button class="main-button" type="submit">ЗНАЙТИ</button>
          </div>
  
          <div class="modal__steps">
            <div class="modal__step" data-step="1">
              <div class="modal-step">
                <div class="modal-step__top">
                  <span class="modal-step__title">ЗАПИТ НА БРОНЮВАННЯ</span>
                  <span class="modal-step__info">Крок 1/<b>1</b></span>
                </div>
  
                <div class="main-form">
                  <div class="main-form__wrapp mode">
                    <span class="main-form__text">Особисті дані</span>
  
                    <label class="main-form__label">
                      <input
                        type="text"
                        name="first_name"
                        id="first_name"
                        placeholder="Ім'я"
                        class="main-form__input"
                        required
                      />
                      <i></i>
                    </label>
                    <label class="main-form__label">
                      <input
                        type="text"
                        name="last_name"
                        id="last_name"
                        placeholder="Прізвище"
                        class="main-form__input"
                        required
                      />
                      <i></i>
                    </label>
                    <label class="main-form__label tel">
                      <input
                        name="step_phone"
                        id="step_phone"
                        placeholder="Телефон"
                        class="main-form__input"
                        required
                        type="tel"
                      />
                      <i></i>
                    </label>
                    <label class="main-form__label">
                      <input
                        type="email"
                        name="step_mail"
                        id="step_mail"
                        placeholder="E-mail"
                        class="main-form__input"
                        required
                      />
                      <i></i>
                    </label>
                  </div>
  
                  <div class="main-form__wrapp">
                    <span class="main-form__text">Особисті дані</span>
                    <label class="main-form__label calendar">
                      <input
                        type="text"
                        name="step_date"
                        id="step_date"
                        data-calendar="short"
                        placeholder="Дата й час подачі та повернення"
                      />
  
                      <div class="arrow-down">
                        <svg width="6" height="3">
                          <use href="/img/sprite/sprite.svg#arrow-d"></use>
                        </svg>
                      </div>
                    </label>
                    <div class="custom-select rent">
                      <div class="select-field">
                        <div class="selected-options">
                          <span class="placeholder">Місце подачі</span>
                        </div>
                        <div class="arrow-down">
                          <svg width="6" height="3">
                            <use href="/img/sprite/sprite.svg#arrow-d"></use>
                          </svg>
                        </div>
                      </div>
                      <ul class="options-container">
                        <li class="option active" data-value="Київ, Аеропорт «Бориспіль», термінал 3б">
                          <span class="option-text">Київ, Аеропорт «Бориспіль», термінал 3б</span>
                        </li>
                        <li class="option" data-value="Київ, Аеропорт «Жуляни», термінал 2а">
                          <span class="option-text">Київ, Аеропорт «Жуляни», термінал 2а</span>
                        </li>
                        <li class="option" data-value="Львів, Аеропорт «Центральний», термінал 1">
                          <span class="option-text">Львів, Аеропорт «Центральний», термінал 1</span>
                        </li>
                      </ul>
                    </div>
                    <div class="custom-select rent">
                      <div class="select-field">
                        <div class="selected-options">
                          <span class="placeholder">Місце повернення</span>
                        </div>
                        <div class="arrow-down">
                          <svg width="6" height="3">
                            <use href="/img/sprite/sprite.svg#arrow-d"></use>
                          </svg>
                        </div>
                      </div>
                      <ul class="options-container">
                        <li class="option active" data-value="Київ, Аеропорт «Бориспіль», термінал 3б">
                          <span class="option-text">Київ, Аеропорт «Бориспіль», термінал 3б</span>
                        </li>
                        <li class="option" data-value="Київ, Аеропорт «Жуляни», термінал 2а">
                          <span class="option-text">Київ, Аеропорт «Жуляни», термінал 2а</span>
                        </li>
                        <li class="option" data-value="Львів, Аеропорт «Центральний», термінал 1">
                          <span class="option-text">Львів, Аеропорт «Центральний», термінал 1</span>
                        </li>
                      </ul>
                    </div>
                    <label class="main-form__label number">
                      <input
                        type="number"
                        name="number"
                        id="number"
                        placeholder="Номер авіарейсу"
                        class="main-form__input"
                      />
                      <span>Необов'язково</span>
                    </label>
                    <button class="main-button main-button--black" data-next-step>ДАЛІ</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal__step" data-step="2">
              <div class="modal-step">
                <div class="modal-step__top">
                  <span class="modal-step__title">ЗАПИТ НА БРОНЮВАННЯ</span>
                  <span class="modal-step__info">Крок 2/<b>2</b></span>
                </div>
  
                <div class="main-form">
                  <div class="main-form__wrapp fields inchurance mob">
                    <span class="main-form__text">Страхування</span>
  
                    <label class="custom-checkbox inchurance">
                      <input type="checkbox" checked class="custom-checkbox__field" />
                      <span class="custom-checkbox__content"
                        >Зі заставою
                        <span>
                          Ціна
                          <i>включено у вартість</i>
                        </span>
                      </span>
                    </label>
                    <label class="custom-checkbox inchurance">
                      <input type="checkbox" class="custom-checkbox__field" />
                      <span class="custom-checkbox__content"
                        >Покриття 50%
                        <span>
                          Ціна
                          <i><b>54 USD</b> / добу</i>
                        </span>
                      </span>
                    </label>
                    <label class="custom-checkbox inchurance">
                      <input type="checkbox" class="custom-checkbox__field" />
                      <span class="custom-checkbox__content"
                        >Покриття 100%
                        <span>
                          Ціна
                          <i><b>78 USD</b> / добу</i>
                        </span>
                      </span>
                    </label>
                  </div>
  
                  <div class="main-form__wrapp check">
                    <span class="main-form__text"
                      >Страхування
                      <button class="main-form__btn">i</button>
                    </span>
  
                    <label class="radio-checkbox mode">
                      <input
                        type="radio"
                        name="insurance"
                        checked
                        value="step_Залог"
                        class="radio-checkbox__field"
                      />
                      <span class="radio-checkbox__content">Зі заставою</span>
                    </label>
                    <label class="radio-checkbox mode">
                      <input type="radio" name="insurance" value="step_Покрытие_50%" class="radio-checkbox__field" />
                      <span class="radio-checkbox__content">Покриття 50%</span>
                    </label>
                    <label class="radio-checkbox mode">
                      <input type="radio" name="insurance" value="step_Покрытие_100%" class="radio-checkbox__field" />
                      <span class="radio-checkbox__content">Покриття 100%</span>
                    </label>
                  </div>
  
                  <div class="main-form__wrapp fields mob">
                    <span class="main-form__text">Доповнення</span>
  
                    <label class="custom-checkbox offer">
                      <input type="checkbox" checked class="custom-checkbox__field" />
                      <span class="custom-checkbox__content">Додатковий водій <b>6 USD / добу</b></span>
                    </label>
                    <label class="custom-checkbox offer">
                      <input type="checkbox" class="custom-checkbox__field" />
                      <span class="custom-checkbox__content">
                        <span>Дитяче автокрісло <i>i</i></span>
                        <b>3 USD / добу</b>
                      </span>
                    </label>
                    <label class="custom-checkbox offer">
                      <input type="checkbox" class="custom-checkbox__field" />
                      <span class="custom-checkbox__content">
                        <span>Виїзд за кордон <i>i</i></span>
                        <b>150 USD</b>
                      </span>
                    </label>
                    <label class="custom-checkbox offer">
                      <input type="checkbox" class="custom-checkbox__field" />
                      <span class="custom-checkbox__content">
                        <span>Послуги водія <i>i</i></span>
                        <b>80 USD / Робочий день</b>
                      </span>
                    </label>
                  </div>
  
                  <div class="main-form__wrapp fields">
                    <span class="main-form__text">Коментар</span>
  
                    <label class="main-form__label">
                      <input
                        type="text"
                        name="step_mess"
                        id="step_mess"
                        placeholder="Повідомлення для менеджера"
                        class="main-form__input"
                      />
                    </label>
                  </div>
  
                  <label class="custom-checkbox">
                    <input type="checkbox" class="custom-checkbox__field" />
                    <span class="custom-checkbox__content"
                      >Я ознайомився з умовами обробки персональних даних</span
                    >
                  </label>
  
                  <button class="main-button main-button--black">ЗАЛИШИТИ ЗАЯВКУ</button>
                </div>
              </div>
            </div>
          </div>
        </form>
  
        <div class="modal__right">
          <div class="modal__image">
            <picture>
              <source type="image/webp" srcset="/img/car/car5.webp" />
              <img width="570" height="319" src="/img/car/car5.png" alt="image" />
            </picture>
          </div>
  
          <h2 class="modal__title">Оренда Mercedes-Benz G63 Black 2025 у Києві</h2>
  
          <ul class="modal__list">
            <li class="modal__item mode">
              <div class="modal__item-info">
                <span class="modal__name">Запит на подачу</span>
                <span class="modal__info">
                  <b>19.04.2025 (13:30)</b>
                  Київ, Аеропорт «Бориспіль», термінал «D»
                </span>
              </div>
              <div class="modal__item-info">
                <span class="modal__name">Запит на повернення</span>
                <span class="modal__info">
                  <b>19.04.2025 (13:30)</b>
                  Київ, Аеропорт «Бориспіль», термінал «D»
                </span>
              </div>
            </li>
  
            <li class="modal__item mode">
              <div class="modal__item-wrapp">
                <span class="modal__name">Тривалість оренди</span>
                <span class="modal__value">3 дні</span>
              </div>
              <div class="modal__item-wrapp">
                <span class="modal__name">Вартість оренди</span>
                <span class="modal__value">429 USD/доба</span>
              </div>
            </li>
            <li class="modal__item">
              <span class="modal__name">Застава</span>
              <span class="modal__value"><b>2000 USD</b></span>
            </li>
            <li class="modal__item">
              <span class="modal__name">Загальна вартість</span>
              <span class="modal__value big">2035 USD</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  