@use "../../mixins/breakpoint" as *;
@use "../../mixins/disable-mob-hover" as *;

.cabinet-section {
  --content-width: 1830px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  
  padding-bottom: var(--default-gap);


  .container {
    max-width: var(--container-width);
  }

  .radio-checkbox{
    &.mode {
    span {
   
      font-family: var(--second-family);
      font-weight: 400;
      padding: 3px clamp(10px, 1.0417vw, 20px);
      font-size: 14px;
      color: var(--cl-b);
      text-align: center;
      background: var(--col-o);
      border: 1px solid var(--col-o);
     border-radius: 14px;
      height: clamp(34px, 2.0833vw, 40px);
      gap: 2px;
    }

    input {
      &:not(:disabled) {
        &:not(:checked) + span {
          @include hover {
            background: var(--cl-e);
          }
        }
      }

      &:checked + span {
        background: var(--cl-e);
        color: var(--cl-b);

        .sprite {
          color: var(--cl-b);
        }
      }

      &:disabled + span {
        background: var(--cl-d);
      }
    }
  }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 2.9412vw, 40px);

    .terms-card {
      @include small-tablet {
        margin-bottom: 28px;
      }
    }
  }

  &__box {
    display: grid;
    grid-template-columns: clamp(240px, 16.1458vw, 310px) calc(100% - clamp(240px, 16.1458vw, 310px) -  clamp(20px, 2.6042vw, 50px));
    gap: clamp(20px, 2.6042vw, 50px);

    padding-bottom: clamp(34px, 2.8676vw, 39px);
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .editor {
      gap: 16px;

      .terms-table {
        margin-top: clamp(14px, 1.1765vw, 16px);
      }
    }

    @include small-tablet {
      gap: 26px;
    }
  }

  .aside {
    height: fit-content;
    transition: all 0.4s ease;
    height: calc(
      100dvh - (var(--header-height) + 15px + clamp(34px, 2.8676vw, 39px))
    );
    position: sticky;
    z-index: 10;
    top: 20px;
  }

  @include for-tablet {
    position: relative;
    z-index: 1;
  }

  @include tablet {
    padding-top: 25px;
  }
}
