@use '../../mixins/breakpoint' as *;

.editor-section {
    padding-bottom: 20px;
    margin-bottom: clamp(40px, 4.9751vw, 60px);
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        width: 100vw;
        left: 50%;
        height: 1px;
        transform: translateX(-50%);
        bottom: 0;
        z-index: -1;
        pointer-events: none;
        content: '';
        background: var(--col-q);
        z-index: 0;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: clamp(26px, 2.8676vw, 39px);

        .more-btn {
            margin-top: calc((clamp(26px, 2.8676vw, 39px) - 5px) * -1);

            @include mobile {
                margin-top: -20px;
            }
        }

        .editor {
            &[data-clip-item] {
                position: relative;
                z-index: 1;
                overflow: hidden;

                max-height: 164px;

                &::before {
                    content: '';
                    transition: all 0.3s;
                    background: linear-gradient(
                        0deg,
                        #f1f0eb 0%,
                        rgba(241, 240, 235, 0.8) 54.58%,
                        rgba(241, 240, 235, 0.38) 100%
                    );
                    width: 100%;
                    height: 71px;
                    z-index: 2;
                    pointer-events: none;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }

            &[data-clip-item='true'] {
                &::before {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        @include mobile {
            gap: 25px;
        }
    }

    @include mobile {
        padding-bottom: 25px;
    }
}
