@use '../../mixins/breakpoint' as *;

.faq-section {
    padding-bottom: var(--default-gap);

    .pretitle {
        width: fit-content;
        padding-left: 67px;
        text-align: start;
        font-family: var(--font-family);
        font-weight: 400;

        &:after {
            width: 40px;
            left: 17px;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: clamp(45px, 5vw, 68px);

        .breadcrumbs {
            @include for-tablet {
                display: none;
            }
        }

        .pretitle {
            @include tablet {
                display: none;
            }
        }

        @include for-tablet {
            padding-top: 77px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 37px;

        .h2 {
            font-weight: 500;
        }

        @include mobile {
            gap: 40px;
        }
    }

    &__box {
        display: grid;
        grid-template-columns: clamp(280px, 22.7941vw, 310px) 1fr;
        gap: clamp(20px, 3.6765vw, 50px);

        padding-bottom: clamp(34px, 2.8676vw, 39px);

        @include tablet {
            gap: 20px;
            grid-template-columns: 100%;
        }

        @include mobile {
            padding-bottom: 20px;
            gap: 65px;
        }
    }

    .aside {
        height: fit-content;
        transition: all 0.4s ease;

        @include for-tablet {
            height: calc(100dvh - (var(--header-height) + 15px + clamp(34px, 2.8676vw, 39px)));
            position: sticky;
            z-index: 10;
            top: 20px;
        }

        @include tablet {
            display: none;
        }
    }

    &__accordion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 37px clamp(20px, 3.3167vw, 40px);

        .acc {
            padding: 0;
            background: transparent;

            &::before {
                display: none;
            }

            .editor {
                padding-top: 8px;
                p {
                    @include tablet {
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 157%;
                        color: var(--cl-a);
                        letter-spacing: normal;
                    }
                }
            }

            &::after {
                padding-left: 0;
                display: flex;
                margin-bottom: 10px;
                content: attr(data-pretitle);
                order: -1;
                font-family: var(--third-family);
                font-weight: 500;
                font-size: 18px;
                text-align: start;
                line-height: 139%;
                color: var(--cl-a);

                @include small-tablet {
                    margin-bottom: 20px;
                }
            }

            &__btn {
                font-family: var(--third-family);
                font-size: clamp(14px, 1.3267vw, 16px);
                line-height: 156%;
                font-weight: 400;
                min-height: 40px;

                @include small-tablet {
                    font-size: 16px;
                }
            }

            &__item {
                border-top: none;
                border-bottom: 1px solid var(--cl-k);
                border-radius: 20px;
                padding: 9px 20px 10px;
            }
        }

        @include small-tablet {
            grid-template-columns: 100%;
            gap: 40px;
        }
    }

    &.mode {
        padding-bottom: var(--default-padding);

        @include mobile {
            position: relative;
            z-index: 1;
            padding-bottom: 25px;
            margin-bottom: 8px;
            &::before {
                position: absolute;
                width: 100vw;
                left: 50%;
                height: 1px;
                transform: translateX(-50%);
                bottom: 0;
                z-index: -1;
                pointer-events: none;
                content: '';
                background: var(--col-q);
                z-index: 0;
            }
        }
    }

    @include tablet {
        padding-top: 25px;
    }
}
