@use "../mixins/breakpoint" as *;

.acc {
  padding: 57px 30px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  background: var(--cl-b);

  &__item {
    border-bottom: 1px solid #d8d9d2;
    padding: 19px 14px 20px;
    transition: all 0.3s;

    &:first-of-type {
      border-top: 1px solid #d8d9d2;
    }

    &.active {
      padding-bottom: 9px;

      @include tablet {
        padding-bottom: 24px;
      }
    }

    @include tablet {
      padding: 21px 20px;
    }
  }

  .editor {
    padding-top: clamp(17px, 1.6176vw, 22px);
    max-width: calc(100% - 65px);

    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 157%;
      color: var(--cl-a);

      @include tablet {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: 0.05em;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-align: start;
    gap: 20px;
    color: var(--cl-a);
    width: 100%;

    .sprite {
      flex-shrink: 0;
      width: 18px;
      height: 12px;
      display: flex;
      color: #606060;
      transition: all 0.3s;
      svg {
        width: 100%;
        height: auto;
      }
    }

    &.active {
      .sprite {
        transform: scaleY(-1);
      }
    }

    &:hover {
      color: #606060;
    }

    @include tablet {
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 16px;
    }
  }

  @include tablet {
    padding: 25px 0px 68px;
    &::before {
      padding-left: 20px;
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      color: var(--cl-a);
      order: -2;
      display: flex;
      content: attr(data-title);
      margin-bottom: 4px;
    }

    &::after {
      padding-left: 20px;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 15px;
      text-align: center;
      color: #818181;
      display: flex;
      margin-bottom: 24px;
      content: attr(data-pretitle);
      order: -1;
    }
  }

  &.mode {
    padding: 44px 30px;

    &::before,
    &::after {
      content: none;
    }

    .acc {
      &__item {
        @include small-tablet {
          padding: 17px 8px 17px 0;
          border-color: #b0b0b0 !important;
        }
      }

      &__btn {
        @include small-tablet {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 14px;

          .sprite {
            width: 16px;
            height: 9px;
          }
        }
      }
    }

    .editor {
      @include small-tablet {
        padding-top: 19px;
      }

      p {
        @include small-tablet {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 14px;
          color: var(--cl-b);
          letter-spacing: normal;
        }
      }
    }

    @include small-tablet {
      padding: 0;
      border-radius: initial;
      background: transparent !important;
    }
  }
}
