@use "../mixins/breakpoint" as *;
@use "../mixins/disable-mob-hover" as *;
.blog-card {
  display: grid;
  grid-template-columns: 0.82fr 1fr;
  border: 1px solid  var(--cl-k);
  border-radius: 16px;
  overflow: hidden;
  height: 250px;

  &__box {
    display: flex;
    flex-direction: column;
    min-width: 0;

    p {
      margin: auto 0;
      display: block;

      padding-left: clamp(24px, 1.8382vw, 25px);
      padding-right: 20px;

      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;

      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 131%;
      color:  var(--cl-a);

      @include small-tablet {
        -webkit-line-clamp: 10;
        margin: 0;
        padding: 0 22px 0 24px;
        font-family: var(--second-family);
        font-weight: 500;
        line-height: 156%;
        letter-spacing: 0.05em;
        color: var(--cl-v);
      }
    }

    @include small-tablet {
      gap: 17px;

    }
  }

  &__title {
    padding-left: clamp(24px, 1.8382vw, 25px);
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    color:  var(--cl-a);
    border-bottom: 1px solid var(--cl-k);
    width: 100%;
    display: flex;
    align-items: center;
    height: 45px;

    span {
      @include for-small-tablet {
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 95%;
      }
    }

    @include small-tablet {
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 20px;
      color: #434343;
      height: fit-content;
      padding: 0 13px 0 24px;
      border-bottom: none;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-top: 1px solid var(--cl-k);
    height: 45px;
    padding-left: clamp(20px, 1.7647vw, 24px);
    .main-button {
      justify-self: flex-end;
      border-radius: 0;
      height: 100%;
      min-width: 209px;
      border-left: 1px solid var(--cl-k);

      @include mobile {
        padding: 0;
        border: none;
        border-radius: none;
        background-color: initial;
        height: fit-content;
        min-width: initial;
        line-height: 110%;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color:  var(--cl-u);
        border-bottom: 1px solid  var(--cl-u);
        box-shadow: none;
        &::before{
            content: none;
        }

        &:hover{
            border-color: transparent;
        }
      }
    }

    @include small-tablet {
      margin-top: auto;
    }

    @include mobile {
      padding-right: 20px;
    }
  }

  &__date {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--cl-o);
  }

  &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img,
    picture {
        transition: all .4s;
      width: 100%;
      height: 100%;
    }

    @include small-tablet {
      height: clamp(215px, 45.57vw, 350px);
    }
  }

  @include small-tablet {
    min-height: 496px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;
    gap: 17px;
    height: 100%;
  }

  @include hover{
    .blog-card__image{
        img,picture{
            transform: scale(1.04);
        }
    }
  }
}
