@use "../mixins/breakpoint" as *;
@use "../mixins/disable-mob-hover" as *;

.terms-card {
  position: relative;
  z-index: 1;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  height: 440px;
  display: flex;
  flex-direction: column;

  &__wrapp {
    height: clamp(180px, 16.0294vw, 218px);
    width: 100%;
    padding: 14px 16px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    @include laptop {
      @include for-mobile {
        grid-column: span 2;
        height: 150px;

        &:last-of-type {
          grid-column: span 3;
        }

        &:nth-last-child(2) {
          grid-column: span 3;
        }
      }
    }

    @include for-mobile {
      border-right: 1px solid var(--cl-z);
      border-top: 1px solid var(--cl-z);
    }

    @include mobile {
      height: 200px;
      padding: 30px 30px 20px;
      border-top: 1px solid #d8d8d8;

      &:nth-child(1),
      &:nth-child(3) {
        border-right: 1px solid #d8d8d8;
      }

      &:last-of-type {
        grid-column: span 2;
      }
    }
  }

  &__name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--cl-b);

    @include mobile {
      color: var(--cl-a);
    }
  }

  &__icon {
    max-width: 93px;
    display: flex;
    height: 56px;
    align-items: center;
    width: auto;
    color: var(--cl-b);

    svg {
      width: auto;
      height: auto;
    }

    @include mobile {
      color: #848484;
    }
  }

  &__box {
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @include laptop {
      grid-template-columns: repeat(6, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--cl-b);
    padding: 23px 27px;

    @include mobile {
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 21px;
      letter-spacing: 0.05em;
      padding: 23px;
      color: var(--cl-a);
    }
  }

  &__bg {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    inset: 0;

    img,
    picture {
      width: 100%;
      height: 100%;
            transition: all .4s;
    }

    @include mobile {
      display: none;
    }
  }

  @include for-mobile{
    gap: 10px;
  }

  @include mobile {
    height: fit-content;
    background: var(--cl-b);
  }
}
