@font-face {
	font-family: "iconmoon";
	src: url('../fonts/iconmoon.eot');
	src: url('../fonts/iconmoon.eot?#iefix') format('eot'),
		url('../fonts/iconmoon.woff') format('woff'),
		url('../fonts/iconmoon.ttf') format('truetype'),
		url('../fonts/iconmoon.svg#iconmoon') format('svg');
}

@mixin icon-styles {
	font-family: "iconmoon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == clip {
		$char: "\E001";
	}
	@if $filename == delivery-man-svgrepo-com {
		$char: "\E002";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-clip {
	@include icon(clip);
}
.icon-delivery-man-svgrepo-com {
	@include icon(delivery-man-svgrepo-com);
}
