@use "../mixins/breakpoint" as *;
@use "../mixins/disable-mob-hover" as *;

.main-button {
  font-weight: 300;
  font-size: 14px;
  line-height: 179%;
  text-transform: uppercase;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  color: var(--cl-b);
  padding: 13px 30px;
  background: var(--cl-e);
  border-radius: 26px;
  min-width: 260px;
  height: 55px;
  position: relative;
  overflow: hidden;

  @include mobile {
    font-weight: 400;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--gr-a);
    transition: all 0.5s ease;
    pointer-events: none;
  }

  &--transparent {
    border: 1px solid var(--cl-m);
    border-radius: 14px;
    background-color: transparent;

    @include hover {
      border-color: var(--cl-l);
    }
  }

  &--black {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    height: 50px;
    border: 1px solid var(--cl-a);
    border-radius: 16px;
    width: 100%;
    background-color: var(--cl-a);

    @include mobile {
      font-weight: 500;
    }

    @include hover {
      border-color: var(--cl-l);
    }
  }

  &--white {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    height: 50px;
    border: 1px solid var(--cl-b);
    border-radius: 16px;
    width: 100%;
    color: var(--cl-a);
    background-color: var(--cl-b);

    @include mobile {
      font-weight: 500;
    }

    @include hover {
      border-color: var(--cl-l);
    }
  }

  @include hover {
    color: var(--cl-b);
    background: var(--cl-l);
    // box-shadow: 0 0 10px rgba(33, 66, 48, 0.6);

    &::before {
      left: 100%;
    }
  }

  &.hovered {
    color: var(--cl-b);
    background: var(--cl-l);

    &::before {
      left: 100%;
    }
  }
}

.reset-btn {
  border: 1px solid var(--cl-mm);
  border-radius: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
  background: transparent;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--cl-n);
  transition: all 0.3s ease;

  @include mobile {
    font-weight: 500;
  }

  @include hover {
    color: var(--cl-b);
    background: var(--cl-e);
  }
}

.more-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 179%;
  color: var(--cl-a);
  transition: all 0.3s;
  text-decoration: underline;
  text-decoration-color: transparent;

  &.active {
    text-decoration-color: inherit;
  }

  @include hover {
    color: var(--cl-e);
  }
}

.down-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 69px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: var(--cl-b);
  position: relative;
  z-index: 1;

  @include mobile {
    font-weight: 500;
  }

  &:after {
    position: absolute;
    content: "";
    width: 52px;
    height: 1px;
    background-color: var(--cl-m);
    left: calc(56px + 9px);
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
  }

  .sprite {
    border-radius: 100%;
    border: solid 1px var(--cl-m);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    color: var(--cl-b);
    transition: all 0.3s;

    svg {
      width: 16px;
      height: 20px;
    }
  }

  &:hover {
    .sprite {
      background-color: var(--cl-b);
      color: var(--cl-a);
    }
  }
}

.adress-link {
  display: flex;
  align-items: center;
  gap: 13px;
  width: fit-content;
  span {
    margin-right: 7px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--cl-b);
    position: relative;
    z-index: 1;
    font-family: var(--font-gowun), sans-serif;

    &::before {
      position: absolute;
      content: "";
      left: 2px;
      right: 2px;
      bottom: -8px;
      height: 2px;
      background-image: radial-gradient(circle, currentColor 0.7px, transparent 0.7px);
      background-position: left center;
      background-repeat: repeat-x;
      background-size: 5px 2px;
      z-index: -1;
      pointer-events: none;
    }
  }

  .sprite {
    transition: all 0.3s;
    width: 14px;
    display: flex;
    color: var(--cl-b);

    svg {
      width: 100%;
      height: auto;
    }
    &.mode {
      border-radius: 100%;
      border: solid 1px var(--cl-m);
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 56px;
      height: 56px;

      opacity: 1 !important;

      svg {
        width: 20px;
        height: 24px;
      }
    }
  }

  &:hover {
    .sprite {
      opacity: 0;
    }
    .sprite.mode {
      background-color: var(--cl-b);
      color: var(--cl-a);
    }
  }
}

.grey-btn {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  overflow: hidden;
  font-weight: 400;
  font-size: clamp(12px, .7292vw, 14px);
  text-align: center;
  color: var(--cl-b);
  padding: clamp(7px, .5729vw, 11px) clamp(10px, 1.0417vw, 20px) clamp(8px, .625vw, 12px);
  border-radius: 14px;
  height: clamp(34px, 2.0833vw, 40px);
  background: var(--col-o);

  @include mobile {
    font-weight: 500;
  }

  .sprite{
    width: 20px;
    height: 20px;
    display: flex;

    svg{
      width: 100%;
      height: auto;
    }
  }

  &.hidden{
    display: none;
  }

  &.transparent{
    border: 1px solid var(--col-a);
    background: transparent;
    color: var(--cl-a);

    @include hover{
       color: var(--cl-b);
        background: var(--col-a);
    }
  }

  &.green{
    background: var(--cl-e);

     @include hover {
    background: var(--cl-l);
  }
  }

  @include hover {
    background: var(--cl-l);
  }
}
