// ----------------- MAIN COMPONENTS -----------------
@use "../components/main-components/main-top";
@use "../components/main-components/main-nav";
@use "../components/main-components/main-form";
@use "../components/rent-list";
@use "../components/rent-card";
@use "../components/car-card";
@use "../components/order-form";
@use "../components/info-list";
@use "../components/acc";
@use "../components/blog-list";
@use "../components/blog-card";
@use "../components/article";
@use "../components/team-slider";
@use "../components/info-slider";
@use "../components/gift-slider";
@use "../components/breadcrumbs";
@use "../components/rental-table";
@use "../components/terms-list";
@use "../components/terms-card";
@use "../components/terms-nav";
@use "../components/terms-table";
@use "../components/terms-blocks";
@use "../components/table-info";
@use "../components/gallery-slider";
@use "../components/single-form";
@use "../components/gift-form";
@use "../components/range-date-picker";
@use "../components/rent_modal_custom_select";
@use "../components/business-steps";
@use "../components/business-process";
@use "../components/invest";
// ----------------- MAIN COMPONENTS -----------------


//------------------Cabinet-components----------------
@use "../components/cabinet-info";
@use "../components/cabinet-nav";
@use "../components/cabinet-table";
@use "../components/info-table";
@use "../components/main-info";



