@use '../mixins/breakpoint' as *;
@use '../mixins/mini' as *;
@use '../mixins/disable-mob-hover' as *;

.pretitle {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: var(--cl-a);
    padding-left: clamp(57px, 6.3971vw, 87px);
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background: var(--cl-a);
        position: absolute;
        top: 50%;
        left: 0;
        pointer-events: none;
        transform: translateY(-50%);
    }

    &:after {
        position: absolute;
        content: '';
        border: 1px solid var(--cl-m);
        width: clamp(30px, 4.4118vw, 60px);
        left: clamp(15px, 1.25vw, 17px);
        top: 50%;
        pointer-events: none;
        transform: translateY(-50%);
    }
}

.title {
    font-weight: 700;
    font-size: 48px;
    color: var(--cl-b);
}

.main-title {
    font-weight: 700;
    font-size: clamp(25px, 2.5735vw, 35px);
    color: var(--cl-a);
}

.h2 {
    font-weight: 400;
    font-size: 26px;
    line-height: 96%;
    color: var(--cl-a);
}

.editor {
    display: flex;
    flex-direction: column;

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 156%;
        color: var(--cl-a);
    }

    ul:not([class]) {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 10px;
        li {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-left: 10px;

            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: 0;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: var(--cl-a);
            }
        }
    }

    ol:not([class]) {
        display: flex;
        flex-direction: column;
        counter-reset: li;
        padding-left: 3px;

        li {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-left: 18px;
            gap: 10px;

            &::before {
                position: absolute;
                left: 0;
                top: 0;
                content: counters(li, '') '.';
                counter-increment: li;
                font-weight: 400;
                font-size: 16px;
                line-height: 156%;
                color: var(--cl-a);
            }
        }
    }
}

.subtitle {
    font-size: clamp(17px, 2.87vw, 26px);
    color: var(--cl-a);
}

.slider {
    &-controls {
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 1px solid var(--cl-m);
        border-radius: 12px;
        width: 110px;
        height: 55px;
        z-index: 3;
        overflow: hidden;
    }

    &-btn {
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        background: var(--body-bg);

        .sprite {
            display: flex;
            width: 11px;
            height: 7px;
            transform: rotate(-90deg);
            color: var(--cl-a);
            transition: all 0.3s;
        }

        &:hover {
            background: var(--cl-m);

            .sprite {
                color: var(--cl-b);
            }
        }

        &.prev {
            border-right: solid 1px var(--cl-m);
            .sprite {
                transform: rotate(90deg);
            }
        }
    }
}

.download {
    display: flex;
    align-items: center;
    gap: 14px;
    width: fit-content;

    &__title {
        font-weight: 400;
        font-size: 14px;
        color: var(--cl-a);
    }

    &__meta {
        font-weight: 400;
        font-size: 13px;
        color: #797979;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        border-radius: 100%;
        flex-shrink: 0;
        background: var(--cl-x);
        transition: all 0.3s;

        .sprite {
            height: 26px;
            width: auto;
            color: var(--cl-b);
            transition: all 0.3s;

            svg {
                width: auto;
                height: 100%;
            }
        }
    }

    @include hover {
        svg {
            transition: all 0.3s;
            color: #fff;
        }
        .download__icon {
            background: var(--cl-e);
        }
    }
}

.price {
    font-weight: 400;
    font-size: 36px;
    color: var(--cl-b);
    white-space: nowrap;
    gap: 21px;
    display: inline-flex;
    align-items: center;

    &::after {
        content: '';
        width: 100%;
        border: 1px solid var(--cl-m);
    }
}

.main-order {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4px;
    padding: 12px var(--container-offset);
    position: relative;
    z-index: 1;
    background: var(--body-bg);
    width: 100vw;
    margin-left: calc(var(--container-offset) * -1);
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;

    &-wrapper {
        position: relative;
        height: auto;

        &.rentPage {
            .main-order {
                border-bottom: none;
                padding: 0;
            }

            @media screen and (min-width: 768px){
               display: none;
            }
        }
    }

    &::before,
    &:after {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        pointer-events: none;
        z-index: -1;
    }

    &::before {
        top: 0;
    }

    .main-button {
        grid-column: 2/3;
        grid-row: 1/3;
        border-radius: 20px;
        min-width: 180px;
        height: 50px;
        justify-self: end;
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        color: var(--col-a);
    }

    &__value {
        font-weight: 590;
        font-size: 26px;
        color: var(--cl-a);
    }

    &.show {
        position: fixed;
        bottom: 20px;
        z-index: 9;
        left: calc(var(--container-offset));
        box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
        transition: box-shadow 0.3s ease, transform 0.3s ease, bottom 0.3s ease;
    }

    //@include for-small-tablet {
    //    display: none;
    //}
}

.review-widget_net {
    .grw-net-widget-four-logo {
        width: 60px;
        height: 50px;
        div {
            background-image: url(https://grwapi.net/assets/3.1/img/google-logo-simple.svg);
        }

        @include mobile{
          width: 40px !important;
          height: 40px !important;
        }
    }
    .grw-net-widget-four {
        border: none;
        background: transparent;


        .grw-net-text-medium {
            font-size: 18px;

            @include tablet{
              font-size: clamp(16px, 1.99vw, 24px);
            }
        }

        .grw-net-stars-row {
            gap: 8px;
        }

        .grw-net-text {
            color: #000;
        }

        @include mobile{
          min-width: 120px;
          padding: 0;
        }
    }

    .grw-net-widget .branding {
        height: 0;
        opacity: 0;
        margin: 0 !important;
        pointer-events: none;
    }
}
